<section class="ct_mt_40 ct_px_40 ct_pb_100 ct_mb_40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_24 ct_fw_600 mb-4">Favorite Books</h4>
                <div class="ct_purchase_history_parent_div">
                    <div class="ct_outline_box">
                        <div class="ct_my_order_grid_96_auto">
                            <img src="assets/img/book_12.png" alt="">
                            <div class="ct_my_order_felx_34">
                                <div>
                                    <h4 class="ct_fs_20 ct_fw_600 mb-2">Digital Marketing Essentials</h4>
                                    <p class="mb-0 ct_fs_16 ct_text_636363">by Sarah Johnson</p>


                                    <div class="ct_btn_group mt-3 ct_other_login_btn_group">
                                        <a href="tracking-order.html"
                                            class="ct_purple_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Read
                                            Book</a>
                                        <a href="javascript:void(0)"
                                            class="ct_purple_outline_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Download
                                            eBook</a>
                                    </div>
                                </div>
                                <div class="ct_heart_active">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.44 3.09998C14.63 3.09998 13.01 3.97998 12 5.32998C10.99 3.97998 9.37 3.09998 7.56 3.09998C4.49 3.09998 2 5.59998 2 8.68998C2 9.87998 2.19 10.98 2.52 12C4.1 17 8.97 19.99 11.38 20.81C11.72 20.93 12.28 20.93 12.62 20.81C15.03 19.99 19.9 17 21.48 12C21.81 10.98 22 9.87998 22 8.68998C22 5.59998 19.51 3.09998 16.44 3.09998Z"
                                            fill="#333" />
                                    </svg>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ct_outline_box">
                        <div class="ct_my_order_grid_96_auto">
                            <img src="assets/img/book_12.png" alt="">
                            <div class="ct_my_order_felx_34">
                                <div>
                                    <h4 class="ct_fs_20 ct_fw_600 mb-2">Digital Marketing Essentials</h4>
                                    <p class="mb-0 ct_fs_16 ct_text_636363">by Sarah Johnson</p>


                                    <div class="ct_btn_group mt-3 ct_other_login_btn_group">
                                        <a href="tracking-order.html"
                                            class="ct_purple_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Read
                                            Book</a>
                                        <a href="javascript:void(0)"
                                            class="ct_purple_outline_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Download
                                            eBook</a>
                                    </div>
                                </div>
                                <div class="ct_heart_active">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.44 3.09998C14.63 3.09998 13.01 3.97998 12 5.32998C10.99 3.97998 9.37 3.09998 7.56 3.09998C4.49 3.09998 2 5.59998 2 8.68998C2 9.87998 2.19 10.98 2.52 12C4.1 17 8.97 19.99 11.38 20.81C11.72 20.93 12.28 20.93 12.62 20.81C15.03 19.99 19.9 17 21.48 12C21.81 10.98 22 9.87998 22 8.68998C22 5.59998 19.51 3.09998 16.44 3.09998Z"
                                            fill="#333" />
                                    </svg>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ct_outline_box">
                        <div class="ct_my_order_grid_96_auto">
                            <img src="assets/img/book_12.png" alt="">
                            <div class="ct_my_order_felx_34">
                                <div>
                                    <h4 class="ct_fs_20 ct_fw_600 mb-2">Digital Marketing Essentials</h4>
                                    <p class="mb-0 ct_fs_16 ct_text_636363">by Sarah Johnson</p>


                                    <div class="ct_btn_group mt-3 ct_other_login_btn_group">
                                        <a href="tracking-order.html"
                                            class="ct_purple_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Read
                                            Book</a>
                                        <a href="javascript:void(0)"
                                            class="ct_purple_outline_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Download
                                            eBook</a>
                                    </div>
                                </div>
                                <div class="ct_heart_active">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.44 3.09998C14.63 3.09998 13.01 3.97998 12 5.32998C10.99 3.97998 9.37 3.09998 7.56 3.09998C4.49 3.09998 2 5.59998 2 8.68998C2 9.87998 2.19 10.98 2.52 12C4.1 17 8.97 19.99 11.38 20.81C11.72 20.93 12.28 20.93 12.62 20.81C15.03 19.99 19.9 17 21.48 12C21.81 10.98 22 9.87998 22 8.68998C22 5.59998 19.51 3.09998 16.44 3.09998Z"
                                            fill="#333" />
                                    </svg>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>