<div class="ct_px_30 pb-5">
    <div class="container-fluid">
        <h4 class="ct_fs_26 ct_fw_700 mb-4 ct_nunito_font">Dashboard</h4>
        <div class="row">
            <div class=" col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_grid_2">
                        <div class="ct_card_title">
                            <h6 class="ct_fs_16 ct_mb_16 ct_black_text ct_text_op_07 ct_fw_700 mb-3">Total
                                Books
                                Uploaded
                            </h6>
                            <h4 class="mb-0  ct_fs_28 ct_fw_700">564</h4>
                        </div>
                        <div class="ct_card_icon" style="  background-color: hsl(241deg 100% 75% / 21%);">
                            <div class="ct_card_icon" style="  background-color: rgb(255 243 214)">
                                <svg width="30" height="34" viewBox="0 0 30 34" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0 11.3162L12.9005 18.7643C13.0394 18.8445 13.1851 18.9024 13.3333 18.9392V33.3844L0.920065 26.0382C0.349784 25.7007 0 25.0873 0 24.4246V11.3162ZM30 11.1182V24.4246C30 25.0873 29.6502 25.7007 29.0799 26.0382L16.6667 33.3844V18.8126C16.6969 18.7975 16.7269 18.7814 16.7566 18.7643L30 11.1182Z"
                                        fill="#FEC53D" />
                                    <path opacity="0.499209" fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.405273 7.70142C0.562849 7.50244 0.761736 7.33426 0.993616 7.21076L14.1186 0.2201C14.6696 -0.0733665 15.3305 -0.0733665 15.8815 0.2201L29.0065 7.21076C29.1852 7.30596 29.3444 7.42771 29.4801 7.56966L15.0899 15.8778C14.9953 15.9325 14.9081 15.995 14.8286 16.064C14.7491 15.995 14.6618 15.9325 14.5672 15.8778L0.405273 7.70142Z"
                                        fill="#FEC53D" />
                                </svg>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class=" col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_grid_2">
                        <div class="ct_card_title">
                            <h6 class="ct_fs_16 ct_mb_16 ct_black_text ct_text_op_07 ct_fw_700 mb-3">Total
                                Views
                                & Reads
                            </h6>
                            <h4 class="mb-0  ct_fs_28 ct_fw_700">40,689</h4>
                        </div>
                        <div class="ct_card_icon" style="  background-color: hsl(241deg 100% 75% / 21%);">
                            <svg width="32" height="24" viewBox="0 0 32 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.587821" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.6665 5.33333C6.6665 8.27885 9.05432 10.6667 11.9998 10.6667C14.9454 10.6667 17.3332 8.27885 17.3332 5.33333C17.3332 2.38781 14.9454 0 11.9998 0C9.05432 0 6.6665 2.38781 6.6665 5.33333ZM19.9998 10.6667C19.9998 12.8758 21.7907 14.6667 23.9998 14.6667C26.209 14.6667 27.9998 12.8758 27.9998 10.6667C27.9998 8.45753 26.209 6.66667 23.9998 6.66667C21.7907 6.66667 19.9998 8.45753 19.9998 10.6667Z"
                                    fill="#8280FF" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.9778 13.333C5.68255 13.333 0.517678 16.5684 0.000868912 22.9319C-0.0272823 23.2786 0.635616 23.9997 0.970003 23.9997H22.9956C23.9972 23.9997 24.0128 23.1936 23.9972 22.933C23.6065 16.3906 18.3616 13.333 11.9778 13.333ZM31.2746 23.9997L26.1333 23.9997C26.1333 20.9984 25.1417 18.2288 23.4683 16.0005C28.0103 16.0501 31.7189 18.3465 31.998 23.1997C32.0092 23.3951 31.998 23.9997 31.2746 23.9997Z"
                                    fill="#8280FF" />
                            </svg>

                        </div>
                    </div>

                </div>
            </div>
          

            <div class=" col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_grid_2">
                        <div class="ct_card_title">
                            <h6 class="ct_fs_16 ct_mb_16 ct_black_text ct_text_op_07 ct_fw_700 mb-3">
                                Earnings
                                This Month
                            </h6>
                            <h4 class="mb-0  ct_fs_28 ct_fw_700">$89,000</h4>
                        </div>
                        <div class="ct_card_icon" style="  background-color: hsl(150deg 65% 57% / 21%)">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.11111 24.8889H26.4444C27.3036 24.8889 28 25.5853 28 26.4444C28 27.3036 27.3036 28 26.4444 28H1.55556C0.696446 28 0 27.3036 0 26.4444V1.55556C0 0.696446 0.696446 0 1.55556 0C2.41467 0 3.11111 0.696446 3.11111 1.55556V24.8889Z"
                                    fill="#4AD991" />
                                <path opacity="0.5"
                                    d="M8.91256 18.175C8.32498 18.8017 7.34057 18.8335 6.71382 18.2459C6.08707 17.6583 6.05531 16.6739 6.64289 16.0472L12.4762 9.82494C13.0445 9.21879 13.9888 9.16623 14.6208 9.70555L19.2248 13.6343L25.2235 6.03606C25.7558 5.36176 26.734 5.24668 27.4083 5.77903C28.0826 6.31137 28.1977 7.28955 27.6653 7.96385L20.6653 16.8305C20.1186 17.5231 19.1059 17.6227 18.4347 17.0499L13.7306 13.0358L8.91256 18.175Z"
                                    fill="#4AD991" />
                            </svg>



                        </div>
                    </div>

                </div>
            </div>

            <div class=" col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_grid_2">
                        <div class="ct_card_title">
                            <h6 class="ct_fs_16 ct_mb_16 ct_black_text ct_text_op_07 ct_fw_700 mb-3">Reviews
                                &
                                Ratings
                            </h6>
                            <h4 class="mb-0  ct_fs_28 ct_fw_700">2040</h4>
                        </div>
                        <div class="ct_card_icon" style="  background-color: hsl(16deg 100% 70% / 21%)">
                            <svg width="28" height="31" viewBox="0 0 28 31" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.78" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.6309 9.80931C12.651 9.54881 12.8682 9.34766 13.1294 9.34766H13.5473C13.8041 9.34766 14.0192 9.5423 14.0448 9.7979L14.6664 16.0143L19.0812 18.537C19.237 18.626 19.3331 18.7917 19.3331 18.9712V19.3597C19.3331 19.6894 19.0196 19.9288 18.7015 19.8421L12.3984 18.123C12.167 18.0599 12.0131 17.8414 12.0315 17.6023L12.6309 9.80931Z"
                                    fill="#FF9066" />
                                <path opacity="0.901274" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.72176 0.984587C6.45765 0.669838 5.94771 0.790308 5.85238 1.18997L4.21891 8.03811C4.14123 8.36376 4.39931 8.67226 4.73356 8.65332L11.7783 8.2541C12.1892 8.23082 12.3976 7.74879 12.133 7.43351L10.3316 5.28667C11.4965 4.88862 12.7317 4.68072 14 4.68072C20.2592 4.68072 25.3333 9.75482 25.3333 16.014C25.3333 22.2733 20.2592 27.3474 14 27.3474C7.74077 27.3474 2.66667 22.2733 2.66667 16.014C2.66667 14.9633 2.80896 13.9341 3.08641 12.945L0.518845 12.2248C0.180793 13.43 0 14.7009 0 16.014C0 23.746 6.26801 30.014 14 30.014C21.732 30.014 28 23.746 28 16.014C28 8.28206 21.732 2.01405 14 2.01405C12.0551 2.01405 10.2029 2.41063 8.51973 3.12733L6.72176 0.984587Z"
                                    fill="#FF9066" />
                            </svg>



                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="ct_white_bg ct_p_30">
                    <!-- <div class="ct_flex_2">
                        <h2 class="ct_fs_24  ct_fw_700 ct_nunito_font">Sales Details</h2>
                    </div>
                    <div class="ct_mt_40" id="chart">
                        
                    </div> -->
                    <img src="assets/img/Sales-graph.png" alt="" class="ct_graph_img">
                </div>
               

            </div>

        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="ct_white_bg ct_p_30 h-auto">
                    <div class="ct_flex_2">
                        <h2 class="ct_fs_24 ct_fw_700 ct_nunito_font">Order Details</h2>
                    </div>
                    <div class="table-responsive mt-3">
                        <table class="table ct_custom_table ct_table_grey_head">
                            <thead>
                                <tr>
                                    <th style="width: 100px;">Order Id</th>
                                    <th>Book Name</th>
                                    <th>Reader's Name</th>
                                    <th>Reader's Email</th>
                                    <th>Date - Time</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 100px;">#3456</td>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an epic career</h4>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        John Majestic
                                    </td>
                                    <td>John&#64;gmail.com</td>
                                    <td>12.09.2025 - 12.53 PM</td>
                                    <td>15</td>
                                    <td>
                                        $34,295
                                    </td>

                                    <td>
                                        <span class="ct_view_order" data-bs-toggle="modal" data-bs-target="#view_user">
                                            View Order</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px;">#3456</td>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an epic career</h4>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        John Majestic
                                    </td>
                                    <td>John&#64;gmail.com</td>
                                    <td>12.09.2025 - 12.53 PM</td>
                                    <td>15</td>
                                    <td>
                                        $34,295
                                    </td>

                                    <td>
                                        <span class="ct_view_order" data-bs-toggle="modal" data-bs-target="#view_user">
                                            View Order</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px;">#3456</td>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an epic career</h4>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        John Majestic
                                    </td>
                                    <td>John&#64;gmail.com</td>
                                    <td>12.09.2025 - 12.53 PM</td>
                                    <td>15</td>
                                    <td>
                                        $34,295
                                    </td>

                                    <td>
                                        <span class="ct_view_order" data-bs-toggle="modal" data-bs-target="#view_user">
                                            View Order</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px;">#3456</td>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an epic career</h4>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        John Majestic
                                    </td>
                                    <td>John&#64;gmail.com</td>
                                    <td>12.09.2025 - 12.53 PM</td>
                                    <td>15</td>
                                    <td>
                                        $34,295
                                    </td>

                                    <td>
                                        <span class="ct_view_order" data-bs-toggle="modal" data-bs-target="#view_user">
                                            View Order</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px;">#3456</td>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an epic career</h4>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        John Majestic
                                    </td>
                                    <td>John&#64;gmail.com</td>
                                    <td>12.09.2025 - 12.53 PM</td>
                                    <td>15</td>
                                    <td>
                                        $34,295
                                    </td>

                                    <td>
                                        <span class="ct_view_order" data-bs-toggle="modal" data-bs-target="#view_user">
                                            View Order</span>
                                    </td>
                                </tr>   

                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="view_user" tabindex="-1" aria-labelledby="view_userLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 ">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0">
                <div class="ct_user_detail">
                    <h4 class="ct_fs_24 ct_fw_600 text-center ">Order Details</h4>
                    <div class="ct_user_img ct_mt_40">
                        <img src="assets/img/book_1.png" alt="" style="border-radius: 10px; object-fit: contain;">
                    </div>
                    <div class="mt-4">
                        <table class="table ct_user_border_0">
                            <tr>
                                <td class="ct_fw_600">Book Name</td>
                                <td>Build an epic career</td>
                            </tr>
                            <tr>
                                <td class="ct_fw_600">Customer Name</td>
                                <td>John Majestic</td>
                            </tr>
                            <tr>
                                <td class="ct_fw_600">Date - Time</td>
                                <td>12.09.2025 - 12.53 PM</td>
                            </tr>
                            <tr>
                                <td class="ct_fw_600">Pieces</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td class="ct_fw_600">Amount</td>
                                <td>$34,295</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>