<header>
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <nav class="ct_navbar">
                              <div class="ct_logo">
                                    <a routerLink="/">
                                          <img src="assets/img/logo.svg" alt="">
                                    </a>
                              </div>
                              <div class="ct_nav_menu_list">
                                    <div class="ct_close_menu">
                                          <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <ul>
                                          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                                (click)="close()">
                                                <a routerLink="/">Home</a>
                                          </li>
                                          <li routerLinkActive="active" (click)="close()">
                                                <a routerLink="/explore-books">Explore Books</a>
                                          </li>
                                          <li routerLinkActive="active" (click)="close()">
                                                <a routerLink="/authors-and-publishers">Authors and Publishers</a>
                                          </li>
                                          <li routerLinkActive="active" (click)="close()">
                                                <a routerLink="/community">Community</a>
                                          </li>
                                          <li routerLinkActive="active" (click)="close()">
                                                <a routerLink="/purchased-books">Library</a>
                                          </li>
                                          @if(!eBookToken){
                                          <li class="d-xl-none text-white">
                                                <a (click)="openLoginModal()">
                                                      Login/Signup
                                                </a>
                                          </li>
                                          }
                                    </ul>
                              </div>
                              <div class="ct_notification_main ms-auto">
                                    <div class="position-relative ct_notification_click">
                                          <svg width="24" height="26" viewBox="0 0 24 26" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M10.0277 0C7.73472 0 5.80843 1.72411 5.55522 4.00306L4.5 13.5H1.5C0.671573 13.5 0 14.1716 0 15V16.5C0 17.3284 0.671573 18 1.5 18H22.5C23.3284 18 24 17.3284 24 16.5V15C24 14.1716 23.3284 13.5 22.5 13.5H19.5L18.4448 4.00306C18.1916 1.72411 16.2653 0 13.9723 0H10.0277Z"
                                                      fill="#9747FF" />
                                                <rect opacity="0.3" x="9" y="19.5" width="6" height="6" rx="2.25"
                                                      fill="#FF0000" />
                                          </svg>
                                          @if(notifications.length > 0){
                                          <div class="ct_notification_alert">
                                                <span>{{notifications.length}}</span>
                                          </div>
                                          }
                                    </div>
                                    <div class="ct_notification_custom_dropdown">
                                          <div
                                                class="d-flex align-items-center justify-content-between gap-2 p-2 border-bottom">
                                                <p class="mb-0 ct_fw_600">All Notifications</p>
                                                @if(notifications.length > 0){
                                                <div class="ct_dlt_all_12" (click)="clearNotification()">
                                                      <button><i class="fa-solid fa-trash-can"></i>Delete All</button>
                                                </div>
                                                }
                                          </div>
                                          <ul class="ct_notification_list_scroll">
                                                @if(notifications.length > 0){
                                                @for (item of notifications; track $index) {
                                                <li>
                                                      @if(item.byUser?.avatar_url || item.byAuthor?.avatar_url){
                                                      <img [src]="item.byUser?.avatar_url ? item.byUser?.avatar_url : item.byAuthor?.avatar_url"
                                                            class="ct_notify_user_img_icon" />
                                                      } @else {
                                                      <span class="ct_notify_user_icon">{{item.byUser?.fullName ?
                                                            item.byUser?.fullName.split('')[0] :
                                                            item.byAuthor?.fullName.split('')[0]}}</span>
                                                      }
                                                      <div class="d-flex justify-content-between align-items-center">
                                                            <div>
                                                                  <p class="mb-0">
                                                                        {{item?.content}}
                                                                  </p>
                                                                  <small class="ct_fw_500">{{item?.createdAt |
                                                                        date:'mediumDate' }}
                                                                        at
                                                                        {{item?.createdAt | date:'shortTime' }}</small>
                                                            </div>
                                                            <span class="ct_fw_700 ct_cursor_pointer"
                                                                  (click)="deleteNotification(item?.id)">x</span>
                                                      </div>
                                                </li>
                                                }
                                                <!-- <li class="mb-2  noWrap ClearNotification"
                                                      (click)="clearNotification()">
                                                      Clear All Notifications
                                                </li> -->
                                                } @else {
                                                <li>
                                                      <p class="mb-0 noWrap">
                                                            Notifications Not Found.
                                                      </p>
                                                </li>
                                                }
                                          </ul>
                                    </div>

                              </div>
                              <div class="ct_right_menu_items">
                                    <ul>
                                          <li class="ct_wishlist_icon">
                                                <div class="position-relative">
                                                      <a routerLink="/wishlist">
                                                            <svg width="24" height="24" viewBox="0 0 18 18" fill="none"
                                                                  xmlns="http://www.w3.org/2000/svg">
                                                                  <path d="M9 15.1875C9 15.1875 1.96875 11.25 1.96875 6.46876C1.96889 5.62369 2.26171 4.80476 2.79741 4.1512C3.33312 3.49763 4.07865 3.04977 4.90724 2.88376C5.73584 2.71775 6.59636 2.84384 7.34249 3.24059C8.08863 3.63734 8.67432 4.28026 9.00001 5.06004L8.99999 5.06005C9.32567 4.28027 9.91137 3.63734 10.6575 3.24059C11.4036 2.84384 12.2642 2.71775 13.0928 2.88376C13.9214 3.04977 14.6669 3.49763 15.2026 4.1512C15.7383 4.80476 16.0311 5.62369 16.0312 6.46876C16.0312 11.25 9 15.1875 9 15.1875Z"
                                                                        stroke="#1D2026" stroke-width="1.125"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                            </svg>
                                                            @if (favCount() > 0){
                                                            <div class="ct_count_icon">
                                                                  <h5 class="mb-0">{{ favCount() }}</h5>
                                                            </div>
                                                            }
                                                      </a>
                                                </div>
                                          </li>
                                          <li>
                                                <a routerLink="/my-cart">
                                                      <div class="position-relative">
                                                            <svg width="24" height="24" viewBox="0 0 18 18" fill="none"
                                                                  xmlns="http://www.w3.org/2000/svg">
                                                                  <path d="M6.1875 15.1875C6.1875 15.4982 5.93566 15.75 5.625 15.75C5.31434 15.75 5.0625 15.4982 5.0625 15.1875C5.0625 14.8768 5.31434 14.625 5.625 14.625C5.93566 14.625 6.1875 14.8768 6.1875 15.1875Z"
                                                                        fill="#1D2026" stroke="#1D2026"
                                                                        stroke-width="1.125" />
                                                                  <path d="M12.9375 16.3125C13.5588 16.3125 14.0625 15.8088 14.0625 15.1875C14.0625 14.5662 13.5588 14.0625 12.9375 14.0625C12.3162 14.0625 11.8125 14.5662 11.8125 15.1875C11.8125 15.8088 12.3162 16.3125 12.9375 16.3125Z"
                                                                        fill="#1D2026" />
                                                                  <path d="M2.97322 5.0625H15.5893L13.7331 11.5591C13.666 11.7941 13.5241 12.0009 13.3289 12.1481C13.1337 12.2954 12.8959 12.375 12.6514 12.375H5.91109C5.66661 12.375 5.42879 12.2954 5.23362 12.1481C5.03844 12.0009 4.89654 11.7941 4.82937 11.5591L2.28621 2.65797C2.25262 2.54044 2.18167 2.43704 2.08408 2.36343C1.9865 2.28982 1.86759 2.25 1.74535 2.25H0.5625"
                                                                        stroke="#1D2026" stroke-width="1.125"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                            </svg>
                                                            @if (cartCount() > 0){
                                                            <div class="ct_count_icon">
                                                                  <h5 class="mb-0">{{ cartCount() }}</h5>
                                                            </div>
                                                            }
                                                      </div>
                                                </a>
                                          </li>

                                          <!-- <li class="dropdown">
                                                <a href="javascript:void(0)" id="dropdownMenuButton1"
                                                      data-bs-toggle="dropdown" aria-expanded="false">
                                                      <img src="assets/img/user.jpg" alt="" class="ct_img_36"
                                                            style="cursor: pointer;">
                                                </a>
                                                <ul class="dropdown-menu ct_custom_dropdown"
                                                      aria-labelledby="dropdownMenuButton1">
                                                      <li routerLink="/edit-reader"><a class="dropdown-item">

                                                                  Edit Profile</a></li>

                                                      <li routerLink="/reader-order-history"><a class="dropdown-item">

                                                                  Order History</a></li>
                                                      <li routerLink="/purchased-books"><a class="dropdown-item">

                                                                  Purchased Books</a></li>

                                                      <li routerLink="/"><a class="dropdown-item" data-bs-toggle="modal"
                                                                  data-bs-target="#ct_logout_modal">

                                                                  Logout</a></li>
                                                </ul>
                                          </li> -->
                                          @if(eBookToken){
                                          <li class="dropdown">
                                                <a href="javascript:void(0)" id="dropdownMenuButton1"
                                                      data-bs-toggle="dropdown" aria-expanded="false">
                                                      <img [src]=" userInfo?.avatar_url ? userInfo?.avatar_url : 'assets/img/profile_logo.jpg'"
                                                            alt="" class="ct_img_36">
                                                </a>
                                                <ul class="dropdown-menu ct_custom_dropdown"
                                                      aria-labelledby="dropdownMenuButton1">
                                                      <li>
                                                            <h5 class="ct_fs_16 ct_fw_600 mb-0">Hello
                                                                  {{userInfo?.fullName}}
                                                            </h5>
                                                            <p class="mb-0 ct_text_676767 ct_fs_12">{{userInfo?.email}}
                                                            </p>
                                                      </li>

                                                      <!-- <li>
                                                            <a class="dropdown-item" routerLink="/favourite-books">
                                                                  Favourite Books</a>
                                                      </li> -->
                                                      <li>
                                                            <a class="dropdown-item" routerLink="/followed-authors">
                                                                  Followed Authors </a>
                                                      </li>
                                                      <li>
                                                            <a class="dropdown-item"
                                                                  routerLink="/reader-change-password">
                                                                  Change Password </a>
                                                      </li>
                                                      <!-- <li>
                                                            <a class="dropdown-item" routerLink="/purchased-books">
                                                                  Purchased Books </a>
                                                      </li> -->
                                                      <!-- <li>
                                                            <a class="dropdown-item" routerLink="/reader-order-history">
                                                                  Order History</a>
                                                      </li> -->
                                                      <!-- <li>
                                                            <a class="dropdown-item">
                                                                  Downloaded Books</a>
                                                      </li> -->
                                                      <li>
                                                            <a class="dropdown-item" routerLink="/edit-reader">
                                                                  Edit Profile</a>
                                                      </li>

                                                      <li>
                                                            <a class="dropdown-item" data-bs-toggle="modal"
                                                                  data-bs-target="#ct_logout_modal">
                                                                  Logout</a>
                                                      </li>
                                                </ul>
                                          </li>
                                          } @else {
                                          <li class="d-xl-block d-none ">
                                                <a (click)="openLoginModal()">
                                                      Login/Signup
                                                </a>
                                          </li>
                                          }
                                          <li class="ct_open_menu">
                                                <i class="fa-solid fa-bars"></i>
                                          </li>
                                    </ul>

                              </div>
                        </nav>
                  </div>

            </div>

      </div>

      <div class="modal fade ct_assets_modal" id="ct_logout_modal" tabindex="-1" aria-labelledby="ct_logout_modalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                        <div class="modal-header border-0 pt-0">
                              <button type="button" class="btn-close ct_cloose_btn" data-bs-dismiss="modal"
                                    aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                        <div class="modal-body border-0 ">
                              <svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0117 0C4.51172 0 0.0117188 4.5 0.0117188 10C0.0117188 15.5 4.51172 20 10.0117 20C15.5117 20 20.0117 15.5 20.0117 10C20.0117 4.5 15.5117 0 10.0117 0ZM10.0117 15.9C6.81172 15.9 4.11172 13.3 4.11172 10C4.11172 8.3 4.91172 6.6 6.21172 5.5C6.61172 5.2 7.31172 5.2 7.61172 5.6C8.01172 6.1 7.91172 6.7 7.51172 7.1C6.61172 7.8 6.11172 8.9 6.11172 10.1C6.11172 12.2 7.81172 14 10.0117 14C12.2117 14 13.9117 12.3 13.9117 10.1C13.9117 9 13.4117 7.9 12.5117 7.1C12.1117 6.8 12.0117 6.1 12.4117 5.7C12.8117 5.3 13.4117 5.2 13.8117 5.6C15.1117 6.7 15.9117 8.4 15.9117 10.1C15.9117 13.3 13.2117 15.9 10.0117 15.9ZM10.0117 3.5C10.5117 3.5 11.0117 3.9 11.0117 4.5V8.2C11.0117 8.7 10.5117 9.2 10.0117 9.2C9.51172 9.2 9.01172 8.7 9.01172 8.2V4.5C9.01172 3.9 9.51172 3.5 10.0117 3.5Z"
                                          fill="#DC0202"></path>
                              </svg>
                              <h4 class="text-center mb-4 ct_fw_600">Log Out Account</h4>
                              <p class="text-center ct_grey_text">
                                    Are you sure, you want to logout? once you logout <br> you
                                    need to login again.
                              </p>
                              <div class="modal-footer border-0 justify-content-center">
                                    <button type="button" class="ct_purple_outline_btn"
                                          data-bs-dismiss="modal">Cancel</button>
                                    <a (click)="logout()" type="button" data-bs-dismiss="modal"
                                          class=" bg-danger  ct_purple_btn  justify-content-center"
                                          style="border-color: rgb(220, 53, 69)">Yes Logout!</a>
                              </div>
                              <div>
                              </div>
                        </div>

                  </div>
            </div>
      </div>
</header>