<section class="pb-5 ct_px_30">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3 mb-4 flex-wrap ct_flex_column_767">
                    <h4 class=" ct_fs_24 ct_fw_700 mb-0 ct_nunito_font">Reviews and Rating
                    </h4>
                    <div class="d-flex align-items-center gap-3 ct_flex_column_767 ct_w_res_100_767">
                        <div class="form-group ct_w_res_100_767">
                            <input type="date" class="form-control ct_input bg-white">
                        </div>
                        <div class="form-group ct_w_res_100_767">
                            <select class="form-control ct_input bg-white">
                                <option value="">Ratings</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="form-group ct_w_res_100_767">
                            <select class="form-control ct_input bg-white">
                                <option value="">Book Name</option>
                                <option value="">Secrets of Night</option>
                                <option value="">Secrets of Night</option>
                                <option value="">Secrets of Night</option>
                                <option value="">Secrets of Night</option>
                                <option value="">Secrets of Night</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="mt-4">
                    <div class="table-responsive">
                        <table class="table ct_custom_table ct_table_grey_head">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User </th>
                                    <th>Book Name</th>
                                    <th>Review Text</th>
                                    <th>Rating</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Eleanor Pena</td>
                                    <td>Secrets of Night</td>
                                    <td>
                                        <p class="mb-0 ct_chat_text_overflow">
                                            "Very engaging, loved the plot."
                                        </p>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center gap-2">
                                            <i class="fa-solid fa-star ct_star_color"></i>
                                            <i class="fa-solid fa-star ct_star_color"></i>
                                            <i class="fa-solid fa-star ct_star_color"></i>
                                            <i class="fa-solid fa-star ct_star_color"></i>
                                            <i class="fa-solid fa-star ct_star_color"></i>
                                        </div>
                                    </td>
                                    <td>04 Jun 2025</td>
                                    <td>
                                        <a href="#" class="text-dark"><i class="fa-regular fa-eye"></i></a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>