<section class="pb-5 ct_px_30 d-none">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mb-4">
                    <h4 class="ct_fs_26 ct_fw_700 mb-0 ct_nunito_font">Subscriptions
                    </h4>

                </div>
                <div class="row">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="ct_pricing_card">
                            <div>
                                <span class="ct_pricing_badge">POPULAR</span>
                                <div class="ct_pricing_title mt-3">

                                    <p class="mb-2 ">6-Months Plan</p>
                                    <h2 class="ct_fs_24  mb-0 ct_fw_700">$29.99</h2>
                                </div>
                                <ul class="ct_mt_30 mb-4">
                                    <li>
                                        <i class="fa-solid fa-check"></i> Unlimited Article Publishing
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Advanced Analytics Dashboard
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Priority Support Response
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Custom Profile Customization
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Ad-Free Experience
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Early Access to New Features
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>Early Access to New Features
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Custom Domain Support
                                    </li>

                                </ul>
                            </div>

                            <div class="mt-auto pt-4">
                                <a class="ct_purple_btn w-100 ct_border_radius_10">Subscribe Now</a>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-4  mb-4 mb-md-0">
                        <div class="ct_pricing_card">
                            <div>
                                <span class="ct_pricing_badge">BEST PLAN</span>
                                <div class="ct_pricing_title mt-3">

                                    <p class="mb-2 ">12-Months Plan</p>
                                    <h2 class="ct_fs_24  mb-0 ct_fw_700">$49.97</h2>
                                </div>
                                <ul class="ct_mt_30 mb-4">
                                    <li>
                                        <i class="fa-solid fa-check"></i> Unlimited Article Publishing
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Advanced Analytics Dashboard
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Priority Support Response
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Custom Profile Customization
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Ad-Free Experience
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Early Access to New Features
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>Early Access to New Features
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Custom Domain Support
                                    </li>

                                </ul>
                            </div>

                            <div class="mt-auto pt-4">
                                <a class="ct_purple_btn w-100 ct_border_radius_10">Subscribe Now</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<section class="pb-5 ct_px_30">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="ct_white_bg ct_p_30 bg-transparent ct_border_grey_1">
                    <div class="d-flex align-items-center justify-content-between gap-3 mb-4 flex-wrap">
                        <h4 class=" ct_fs_24 ct_fw_700 mb-0 ct_nunito_font">My Plan
                        </h4>
                        <div class="d-flex align-items-center gap-2">
                            <p class="mb-0 ct_fw_600">Status</p>
                            <label class="toggle-switch">
                                <input type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>


                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class="ct_fw_600 ct_nunito_font mb-2 ct_fs_16 d-block ">Plan
                                        Name</label>
                                    <input type="text" placeholder="Plan Name" value="Popular Plan"
                                        class="form-control ct_input_text bg-transparent" disabled />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class="ct_fw_600 ct_nunito_font mb-2 ct_fs_16 d-block ">6-Monthly
                                        Price</label>
                                    <input type="text" placeholder="Plan Name" value="$29.99"
                                        class="form-control ct_input_text bg-transparent" disabled />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class="ct_fw_600 ct_nunito_font mb-2 ct_fs_16 d-block ">Start
                                        Date</label>
                                    <input type="text" value="29/06/2024"
                                        class="form-control ct_input_text bg-transparent" disabled />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class="ct_fw_600 ct_nunito_font mb-2 ct_fs_16 d-block ">End
                                        Date</label>
                                    <input type="text" value="30/12/2024"
                                        class="form-control ct_input_text bg-transparent" disabled />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="ct_fw_600 ct_nunito_font mb-2 ct_fs_16 d-block ">Features</label>
                                <div class="form-group mb-3">
                                    <input type="text" value="Unlimited article publishing"
                                        class="form-control ct_input_text bg-transparent" disabled />
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" value="Advanced analytics dashboard"
                                        class="form-control ct_input_text bg-transparent" disabled />
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" value="Priority support response"
                                        class="form-control ct_input_text bg-transparent" disabled />
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" value="Custom profile customization"
                                        class="form-control ct_input_text bg-transparent" disabled />
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" value="Ad-free experience"
                                        class="form-control ct_input_text bg-transparent" disabled />
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" value="Custom domain support"
                                        class="form-control ct_input_text bg-transparent" disabled />
                                </div>
                            </div>

                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>
</section>