<section class="pb-5 ct_px_30">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mb-4">
                    <h4 class="ct_fs_26 ct_fw_700 mb-0 ct_nunito_font">Subscriptions
                    </h4>
                </div>
                <div class="row">
                    @for (plan of plans; track plan.id ) {
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="ct_pricing_card">
                            <div>

                                <span
                                    class="ct_pricing_badge">{{plan.id == 1 ? 'BASIC' : 'POPULAR' }}</span>
                                <div class="ct_pricing_title mt-3">

                                    <p class="mb-2">{{plan.name}}</p>
                                    <h2 class="ct_fs_24  mb-0 ct_fw_700">{{plan.price | currency:'USD'}}</h2>
                                </div>
                                <ul class="ct_mt_30 mb-4">
                                    @for (feature of plan.features; track feature.id) {
                                    <li>
                                        <i class="fa-solid fa-check"></i> {{feature}}
                                    </li>
                                    }
                                </ul>
                            </div>
                            <div class="mt-auto pt-4">
                                <button (click)="initiateStripePayment(plan.id)"
                                    class="ct_purple_btn w-100 ct_border_radius_10">Subscribe Now</button>
                            </div>
                        </div>
                    </div>
                    }
                    <!-- <div class="col-md-4  mb-4 mb-md-0">
                        <div class="ct_pricing_card">
                            <div>
                                <span class="ct_pricing_badge">BEST PLAN</span>
                                <div class="ct_pricing_title mt-3">

                                    <p class="mb-2 ">12-Months Plan</p>
                                    <h2 class="ct_fs_24  mb-0 ct_fw_700">$49.97</h2>
                                </div>
                                <ul class="ct_mt_30 mb-4">
                                    <li>
                                        <i class="fa-solid fa-check"></i> Unlimited Article Publishing
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Advanced Analytics Dashboard
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Priority Support Response
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Custom Profile Customization
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Ad-Free Experience
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Early Access to New Features
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>Early Access to New Features
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Custom Domain Support
                                    </li>
                                </ul>
                            </div>

                            <div class="mt-auto pt-4">
                                <button (click)="initiateStripePayment('12month', 4997)"
                                    class="ct_purple_btn w-100 ct_border_radius_10">Subscribe Now</button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>