<div class="ct_px_30 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3 ct_flex_wrap_575 mb-2">
                    <h4 class="ct_fs_26 ct_fw_700 mb-0 ct_nunito_font">Book Management</h4>
                    <a routerLink="/author/add-book"
                        class="ct_purple_btn d-flex align-items-center justify-content-center">Add Book</a>
                </div>
                <div class="mb-3">
                    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-7">
                        <div class="ct_search ">
                            <input type="text" class="form-control" style="padding-right: 34px;"
                                placeholder="Search books by name" (input)="searchBook($event)">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
                <div class="ct_white_bg ct_p_30 h-auto">
                    <div>
                        <h2 class="ct_fs_18 ct_fw_700 ct_dash_head mb-4">All Books</h2>
                    </div>
                    <div class="table-responsive ">
                        <table class="table ct_custom_table">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Book Details</th>
                                    <th>Genre</th>
                                    <th>Date Published</th>
                                    <th>Type</th>
                                    <th>Discounted Price</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(books.length > 0) {
                                @for (item of books; track $index) {
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img [src]="item.coverImage" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">{{item.title}}</h4>
                                                <!-- <p class="mb-0 ct_fs_14 ct_text_clr_8a8a8a text-capitalize">
                                                    {{item.author?.fullName}}
                                                </p> -->
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center flex-wrap gap-2">
                                            @for (item2 of item.books; track $index) {
                                            <span class="ct_grey_badge">{{item2.category.name}}</span>
                                            }
                                        </div>
                                    </td>
                                    <td>{{item.publishedAt | date}}</td>
                                    <td>{{item.type == 1 ? 'PDF' : 'EPUB'}}</td>
                                    <td>{{item.price | currency:'USD' }}</td>
                                    <td>
                                        <a routerLink="/author/book-details" [queryParams]="{id:item.id}"
                                            class="ct_see_detail_link">See
                                            Details</a>
                                    </td>
                                </tr>
                                }
                                } @else {
                                <tr>
                                    <td colspan="6" class="text-center">No Books Published</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>