<div class="ct_px_30 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3 ct_flex_wrap_575 mb-2">
                    <h4 class="ct_fs_26 ct_fw_700 mb-0 ct_nunito_font">Book Management</h4>
                    <a routerLink="/author/add-book"
                        class="ct_purple_btn d-flex align-items-center justify-content-center">Add Book</a>
                </div>
                <div class="mb-3">
                    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-7">
                        <div class="ct_search ">
                            <input type="text" class="form-control" style="padding-right: 34px;"
                                placeholder="Search for id, name product">
                            <i class="fa-solid fa-magnifying-glass"></i>

                        </div>

                    </div>
                </div>
                <div class="ct_white_bg ct_p_30 h-auto">
                    <div>
                        <h2 class="ct_fs_18 ct_fw_700 ct_dash_head mb-4">All Books</h2>

                    </div>
                    <div class="table-responsive ">
                        <table class="table ct_custom_table">
                            <thead>
                                <tr>
                                    <th>Book Details</th>
                                    <th>Genre</th>
                                    <th>Date Published</th>
                                    <th>Readers</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an Epic Career</h4>
                                                <p class="mb-0 ct_fs_14 ct_text_clr_8a8a8a">Ankur Warikoo
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center flex-wrap gap-2">
                                            <span class="ct_grey_badge">Motivational</span>
                                            <span class="ct_grey_badge">Career</span>
                                        </div>

                                    </td>
                                    <td>Sep 09 2025</td>
                                    <td>1,22,365 Reads</td>


                                    <td>
                                        <a routerLink="/author/book-details" class="ct_see_detail_link">See
                                            Details</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an Epic Career</h4>
                                                <p class="mb-0 ct_fs_14 ct_text_clr_8a8a8a">Ankur Warikoo
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ct_grey_badge">Motivational</span>
                                    </td>
                                    <td>Sep 09 2025</td>
                                    <td>1,22,365 Reads</td>


                                    <td>
                                        <a href="book-detail.html" class="ct_see_detail_link">See
                                            Details</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an Epic Career</h4>
                                                <p class="mb-0 ct_fs_14 ct_text_clr_8a8a8a">Ankur Warikoo
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ct_grey_badge">Motivational</span>
                                    </td>
                                    <td>Sep 09 2025</td>
                                    <td>1,22,365 Reads</td>


                                    <td>
                                        <a href="book-detail.html" class="ct_see_detail_link">See
                                            Details</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an Epic Career</h4>
                                                <p class="mb-0 ct_fs_14 ct_text_clr_8a8a8a">Ankur Warikoo
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ct_grey_badge">Motivational</span>
                                    </td>
                                    <td>Sep 09 2025</td>
                                    <td>1,22,365 Reads</td>


                                    <td>
                                        <a href="book-detail.html" class="ct_see_detail_link">See
                                            Details</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an Epic Career</h4>
                                                <p class="mb-0 ct_fs_14 ct_text_clr_8a8a8a">Ankur Warikoo
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ct_grey_badge">Motivational</span>
                                    </td>
                                    <td>Sep 09 2025</td>
                                    <td>1,22,365 Reads</td>


                                    <td>
                                        <a href="book-detail.html" class="ct_see_detail_link">See
                                            Details</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an Epic Career</h4>
                                                <p class="mb-0 ct_fs_14 ct_text_clr_8a8a8a">Ankur Warikoo
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ct_grey_badge">Motivational</span>
                                    </td>
                                    <td>Sep 09 2025</td>
                                    <td>1,22,365 Reads</td>


                                    <td>
                                        <a href="book-detail.html" class="ct_see_detail_link">See
                                            Details</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an Epic Career</h4>
                                                <p class="mb-0 ct_fs_14 ct_text_clr_8a8a8a">Ankur Warikoo
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ct_grey_badge">Motivational</span>
                                    </td>
                                    <td>Sep 09 2025</td>
                                    <td>1,22,365 Reads</td>


                                    <td>
                                        <a href="book-detail.html" class="ct_see_detail_link">See
                                            Details</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="ct_img_w_52_grid">
                                            <img src="assets/img/book_1.png" alt="">
                                            <div>
                                                <h4 class="mb-0 ct_fs_16">Build an Epic Career</h4>
                                                <p class="mb-0 ct_fs_14 ct_text_clr_8a8a8a">Ankur Warikoo
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ct_grey_badge">Motivational</span>
                                    </td>
                                    <td>Sep 09 2025</td>
                                    <td>1,22,365 Reads</td>


                                    <td>
                                        <a href="book-detail.html" class="ct_see_detail_link">See
                                            Details</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>