<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="et_contact_form_book">
                    <h4 class="ct_fs_28 ct_fw_700 mb-5 text-center">Get in Touch </h4>
                    <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="" class=" ct_fw_600 mb-2">Full Name </label>
                                    <input type="text" class="form-control ct_input_text" formControlName="name"
                                        placeholder="Enter Your Full Name">
                                    <div *ngIf="contactUsForm.get('name')?.hasError('required') && contactUsForm.get('name')?.touched"
                                        class="text-danger">
                                        <small>Full name is required</small>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class=" ct_fw_600 mb-2">Last Name</label>
                                    <input type="text" class="form-control ct_input_text">
                                </div>
                            </div> -->
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="" class=" ct_fw_600 mb-2">Email</label>
                                    <input type="email" class="form-control ct_input_text" formControlName="email"
                                        placeholder="Enter Your Email">
                                    <div *ngIf="contactUsForm.controls['email'].invalid && contactUsForm.controls['email'].touched"
                                        class="error-message">
                                        <div *ngIf="contactUsForm.controls['email'].errors?.['required']"
                                            class="ct_fs_14 mt-1">
                                            Email is required.
                                        </div>
                                        <div *ngIf="contactUsForm.controls['email'].errors?.['email'] && !contactUsForm.controls['email'].errors?.['required']"
                                            class="ct_fs_14 mt-1">
                                            Invalid email format.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class=" ct_fw_600 mb-2">Phone Number</label>
                                    <input type="number" class="form-control ct_input_text">
                                </div>
                            </div> -->
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="" class=" ct_fw_600 mb-2">Message</label>
                                    <textarea type="number" class="form-control ct_input_text h-auto" rows="4"
                                        placeholder="Enter Message" formControlName="description"></textarea>
                                    <div *ngIf="contactUsForm.get('description')?.hasError('required') && contactUsForm.get('description')?.touched"
                                        class="text-danger">
                                        <small>Description is required</small>
                                    </div>
                                    <div *ngIf="contactUsForm.get('description')?.hasError('maxlength') && contactUsForm.get('description')?.touched"
                                        class="text-danger">
                                        <small>Maximum 500 characters are allowed</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="ct_purple_btn px-5">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>