<section class="ct_mt_40 ct_px_40 ct_grey_bg ct_py_30">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap">
                              <h6 class="mb-0 ct_fs_16 ct_fw_600">Tom Jones by Henry Fielding</h6>
                              <ul class="d-flex align-items-center gap-2 ct_bread_crumb_list">
                                    <li><a href="index.html" class="ct_fw_600">Home</a></li>
                                    <li>/</li>
                                    <li class="ct_text_636363 ct_fw_600"> Add details</li>

                              </ul>

                        </div>

                  </div>
            </div>

      </div>
</section>
<section class="ct_pt_60 ct_pb_218">
      <div class="container">


            <div class="row ct_pt_60">
                  <div class="col-lg-8 mb-4 mb-lg-0">
                        <div class="ct_checkout_parent_div">
                              <form action="">
                                    <div>
                                          <h4 class="ct_fw_600 ct_fs_24 mb-4">Contact Information</h4>
                                          <div class="row">
                                                <div class="col-md-6">
                                                      <div class="form-group  mb-4">
                                                            <label for="" class="mb-2 ct_fs_16">First Name</label>
                                                            <input type="text" class="form-control ct_input_text"
                                                                  placeholder="First Name">
                                                      </div>
                                                </div>
                                                <div class="col-md-6">
                                                      <div class="form-group  mb-4">
                                                            <label for="" class="mb-2 ct_fs_16">Last Name</label>
                                                            <input type="text" class="form-control ct_input_text"
                                                                  placeholder="Last Name e.g John, Mary">
                                                      </div>
                                                </div>
                                                <div class="col-md-6">
                                                      <div class="form-group  mb-4">
                                                            <label for="" class="mb-2 ct_fs_16">Email Address</label>
                                                            <input type="email" class="form-control ct_input_text"
                                                                  placeholder="Your email@gmail.com">
                                                      </div>
                                                </div>
                                                <div class="col-md-6">
                                                      <div class="form-group  mb-4">
                                                            <label for="" class="mb-2 ct_fs_16">Phone Number</label>
                                                            <input type="email" class="form-control ct_input_text"
                                                                  placeholder="+1-(0000 000 0000)">
                                                      </div>
                                                </div>

                                          </div>
                                    </div>
                                    <div class="ct_mt_32">
                                          <h4 class="ct_fw_600 ct_fs_24 mb-4">Delivery Information</h4>
                                          <div class="row">
                                                <div class="col-md-6">
                                                      <div class="form-group  mb-4">
                                                            <label for="" class="mb-2 ct_fs_16">Delivery Date</label>
                                                            <input type="date" class="form-control ct_input_text">
                                                      </div>
                                                </div>
                                                <div class="col-md-6">
                                                      <div class="form-group  mb-4">
                                                            <label for="" class="mb-2 ct_fs_16">Convenient Time</label>
                                                            <input type="time" class="form-control ct_input_text">
                                                      </div>
                                                </div>
                                                <div class="col-md-4">
                                                      <div class="form-group  mb-4">
                                                            <label for="" class="mb-2 ct_fs_16">City</label>
                                                            <select class="form-control ct_input_text">
                                                                  <option value="">Alabama</option>
                                                                  <option value="">Alabama</option>
                                                                  <option value="">Alabama</option>
                                                                  <option value="">Alabama</option>
                                                            </select>
                                                      </div>
                                                </div>
                                                <div class="col-md-4">
                                                      <div class="form-group  mb-4">
                                                            <label for="" class="mb-2 ct_fs_16">Address</label>
                                                            <input type="text" class="form-control ct_input_text"
                                                                  placeholder="Address">
                                                      </div>
                                                </div>
                                                <div class="col-md-4">
                                                      <div class="form-group  mb-4">
                                                            <label for="" class="mb-2 ct_fs_16">Zip code</label>
                                                            <input type="number" class="form-control ct_input_text"
                                                                  placeholder="00000">
                                                      </div>
                                                </div>

                                          </div>
                                    </div>

                                    <div class="ct_mt_40">
                                          <button class="ct_purple_btn w-100">Proceeed to Payment</button>
                                    </div>
                              </form>

                        </div>
                  </div>

                  <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="ct_checout_summary_box">

                              <div class="ct_px_18">
                                    <h4 class="ct_fs_16 ct_fw_600  mb-0">EBooks 03</h4>
                                    <ul class="ct_new_products_list ct_checkout_product_list_13">
                                          <li>
                                                <div class="ct_new_product_img">
                                                      <img src="assets/img/new_product_1.png" alt=""
                                                            class="ct_img_w_75">
                                                </div>
                                                <div class="ct_new_product_info">
                                                      <p class="ct_text_676767 mb-0">Kidnapped Robert Stevenson</p>
                                                      <h5 class="ct_fs_18 ct_fw_600 mb-0">$6.00</h5>

                                                </div>
                                          </li>
                                          <li>
                                                <div class="ct_new_product_img">
                                                      <img src="assets/img/new_product_2.png" alt=""
                                                            class="ct_img_w_75">
                                                </div>
                                                <div class="ct_new_product_info">
                                                      <p class="ct_text_676767 mb-0">Moby-Dick eq Herman</p>
                                                      <h5 class="ct_fs_18 ct_fw_600 mb-0">$6.00</h5>

                                                </div>
                                          </li>
                                          <li>
                                                <div class="ct_new_product_img">
                                                      <img src="assets/img/new_product_3.png" alt=""
                                                            class="ct_img_w_75">
                                                </div>
                                                <div class="ct_new_product_info">
                                                      <p class="ct_text_676767 mb-0">David Copperfield Charles</p>
                                                      <h5 class="ct_fs_18 ct_fw_600 mb-0">$5.00</h5>

                                                </div>
                                          </li>
                                    </ul>



                              </div>
                              <hr class="ct_hr_line_1">


                              <div class="ct_px_18">
                                    <h4 class="ct_fs_16 ct_fw_600 mb-2">Order Summery</h4>
                                    <table class="table ct_custom_table ">
                                          <tr>
                                                <td class="ct_py_13 border-0">
                                                      Subtotal
                                                </td>
                                                <td class="ct_fw_600 ct_py_13 text-end border-0">$1234.00</td>
                                          </tr>
                                          <tr>
                                                <td class="ct_py_13">
                                                      Coupon Discount
                                                </td>
                                                <td class="ct_fw_600 ct_py_13 text-end">8%</td>
                                          </tr>
                                          <tr>
                                                <td class="ct_fw_600 ct_py_13 border-0">
                                                      Total
                                                </td>
                                                <td class="ct_fw_600 ct_py_13 text-end  border-0">$1234.00</td>
                                          </tr>
                                    </table>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>