<div class="ct_px_30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mb-4">
                    <h4 class="ct_fs_26 ct_fw_700 mb-0 ct_nunito_font">Change Password</h4>
                </div>

                <div class="ct_white_bg">
                    <div class="row pt-4">

                        <form action="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <label for="" class="ct_fw_500 ct_nunito_font mb-2 d-block">Old
                                            Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control ct_input_text"
                                                placeholder="Old Password">
                                            <i class="fa-regular fa-eye-slash ct_eye_show"></i>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <label for="" class="ct_fw_500 ct_nunito_font mb-2 d-block">New
                                            Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control ct_input_text"
                                                placeholder="New Password">
                                            <i class="fa-regular fa-eye-slash ct_eye_show"></i>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <label for="" class="ct_fw_500 ct_nunito_font mb-2 d-block">Confirm
                                            Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control ct_input_text"
                                                placeholder="Confirm Password">
                                            <i class="fa-regular fa-eye-slash ct_eye_show"></i>

                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="text-end mt-5">
                                <button type="button" class="ct_purple_btn">Update</button>

                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>