<div class="ct_px_30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mb-4">
                    <h4 class="ct_fs_26 ct_fw_700 mb-0 ct_nunito_font">Change Password</h4>
                </div>

                <div class="ct_white_bg">
                    <div class="row pt-4">
                        <form [formGroup]="Form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <label for="" class="ct_fw_500 ct_nunito_font mb-2 d-block">Old
                                            Password</label>
                                        <div class="position-relative">
                                            <input [type]="isShowOld ? 'text':'password'"
                                                class="form-control ct_input_text" placeholder="Old Password"
                                                formControlName="oldPassword">
                                            <i class="fa-regular ct_eye_show"
                                                [ngClass]="isShowOld ? 'fa-eye':'fa-eye-slash'"
                                                (click)="isShowOld = !isShowOld"></i>
                                        </div>
                                        <div *ngIf="Form.controls['oldPassword'].invalid && Form.controls['oldPassword'].touched"
                                            class="error-message">
                                            <div *ngIf="Form.controls['oldPassword'].errors?.['required']"
                                                class="ct_fs_14 mt-1">
                                                Old password is
                                                required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <label for="" class="ct_fw_500 ct_nunito_font mb-2 d-block">New
                                            Password</label>
                                        <div class="position-relative">
                                            <input [type]="isShowNew ? 'text':'password'"
                                                class="form-control ct_input_text" placeholder="New Password"
                                                formControlName="newPassword">
                                            <i class="fa-regular ct_eye_show"
                                                [ngClass]="isShowNew ? 'fa-eye':'fa-eye-slash'"
                                                (click)="isShowNew = !isShowNew"></i>

                                        </div>
                                        <div *ngIf="Form.errors?.['sameAsCurrent'] && !Form.controls['newPassword'].errors?.['required']"
                                            class="error-message">
                                            New password cannot be the same as the current password.</div>
                                        <div *ngIf="Form.controls['newPassword'].invalid && Form.controls['newPassword'].touched"
                                            class="error-message">
                                            <div *ngIf="Form.controls['newPassword'].errors?.['required']"
                                                class="ct_fs_14 mt-1">
                                                New password is
                                                required.
                                            </div>
                                            <div
                                                *ngIf="Form.controls['newPassword'].errors?.['strongPassword'] && !Form.controls['newPassword'].errors?.['required']">
                                                <div *ngIf="
                              !Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                    class="ct_fs_14 mt-1">
                                                    New password must be at least 8 characters long.
                                                </div>
                                                <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                    class="ct_fs_14 mt-1">
                                                    New password must contain at least one uppercase letter.
                                                </div>
                                                <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                    class="ct_fs_14 mt-1">
                                                    New password must contain at least one lowercase letter.
                                                </div>
                                                <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                    class="ct_fs_14 mt-1">
                                                    New password must contain at least one number.
                                                </div>
                                                <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasSpecialCharacter &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                    class="ct_fs_14 mt-1">
                                                    New password must contain at least one special character.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <label for="" class="ct_fw_500 ct_nunito_font mb-2 d-block">Confirm
                                            Password</label>
                                        <div class="position-relative">
                                            <input [type]="isShowConfirm ? 'text':'password'"
                                                class="form-control ct_input_text" placeholder="Confirm Password"
                                                formControlName="confPassword">
                                            <i class="fa-regular ct_eye_show"
                                                [ngClass]="isShowConfirm ? 'fa-eye':'fa-eye-slash'"
                                                (click)="isShowConfirm = !isShowConfirm"></i>

                                        </div>
                                        <div *ngIf="Form.controls['confPassword'].invalid && Form.controls['confPassword'].touched"
                                            class="error-message">
                                            <div *ngIf="Form.controls['confPassword'].errors?.['required']"
                                                class="ct_fs_14 mt-1">
                                                Confirm password is
                                                required.
                                            </div>
                                        </div>
                                        <div *ngIf="Form.errors?.['passwordMismatch'] && Form.controls['confPassword'].touched  && !Form.controls['confPassword'].errors?.['required']"
                                            class="error-message">
                                            <div class="ct_fs_14 mt-1">
                                                Passwords do not match.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end mt-5">
                                <button (click)="onSubmit()" type="button" class="ct_purple_btn">Change</button>

                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>