<section class="ct_main_explore_sec  gap-3 ct_mt_40 ct_pb_100">
      <div class="ct_filter_side_bar">
            <div class="ct_price_box">
                  <h4 class="ct_fs_16 ct_fw_600">Price </h4>
                  <ul class="ct_mt_32">
                        <li>
                              <div class="mt-3">
                                    <label class="cl-checkbox ct_checkbox_w_h_15">
                                          <input checked="" type="checkbox">
                                          <span>Below $50</span>
                                    </label>
                              </div>
                        </li>
                        <li>
                              <div class="mt-3">
                                    <label class="cl-checkbox ct_checkbox_w_h_15">
                                          <input type="checkbox">
                                          <span>$51-$100</span>
                                    </label>
                              </div>
                        </li>
                        <li>
                              <div class="mt-3">
                                    <label class="cl-checkbox ct_checkbox_w_h_15">
                                          <input type="checkbox">
                                          <span>$101-$200</span>
                                    </label>
                              </div>
                        </li>
                        <li>
                              <div class="mt-3">
                                    <label class="cl-checkbox ct_checkbox_w_h_15">
                                          <input type="checkbox">
                                          <span>$201-$300</span>
                                    </label>
                              </div>
                        </li>
                        <li>
                              <div class="mt-3">
                                    <label class="cl-checkbox ct_checkbox_w_h_15">
                                          <input type="checkbox">
                                          <span>$301-$400</span>
                                    </label>
                              </div>
                        </li>
                  </ul>
            </div>

            <div class="ct_mt_32">
                  <h4 class="ct_fs_16 ct_fw_600 pb-2">NEW PRODUCTS</h4>
                  <hr class="my-0 ct_hr_line_1">
                  <ul class="ct_new_products_list">
                        <li>
                              <div class="ct_new_product_img">
                                    <img src="assets/img/new_product_1.png" alt="">
                              </div>
                              <div class="ct_new_product_info">
                                    <p class="ct_text_676767 mb-0">Kidnapped Robert Stevenson</p>
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0">$6.00</h5>

                              </div>
                        </li>
                        <li>
                              <div class="ct_new_product_img">
                                    <img src="assets/img/new_product_2.png" alt="">
                              </div>
                              <div class="ct_new_product_info">
                                    <p class="ct_text_676767 mb-0">Moby-Dick eq Herman</p>
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0">$6.00</h5>

                              </div>
                        </li>
                        <li>
                              <div class="ct_new_product_img">
                                    <img src="assets/img/new_product_3.png" alt="">
                              </div>
                              <div class="ct_new_product_info">
                                    <p class="ct_text_676767 mb-0">David Copperfield Charles</p>
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0">$5.00</h5>

                              </div>
                        </li>
                        <li>
                              <div class="ct_new_product_img">
                                    <img src="assets/img/new_product_4.png" alt="">
                              </div>
                              <div class="ct_new_product_info">
                                    <p class="ct_text_676767 mb-0">Vanity Fair by William</p>
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0">$6.00</h5>

                              </div>
                        </li>
                        <li>
                              <div class="ct_new_product_img">
                                    <img src="assets/img/new_product_5.png" alt="">
                              </div>
                              <div class="ct_new_product_info">
                                    <p class="ct_text_676767 mb-0">Sybil by Benjamin Disraeli</p>
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0">$4.50</h5>

                              </div>
                        </li>
                        <li>
                              <div class="ct_new_product_img">
                                    <img src="assets/img/new_product_6.png" alt="">
                              </div>
                              <div class="ct_new_product_info">
                                    <p class="ct_text_676767 mb-0">Nightmare Abbey Thomas</p>
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0">$5.00</h5>

                              </div>
                        </li>

                  </ul>
            </div>

      </div>
      <div class="ct_right_content_explore ">
            <div class="container-fluid">
                  <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 mb-4">
                              <div class="ct_new_product_card_12">
                                    <a routerLink="/book-overview">
                                          <div class="ct_new_product_img_34">
                                                <img src="assets/img/new_product_7.png" alt="">
                                          </div>
                                          <div class="text-center">
                                                <h5 class="mb-2 ct_fs_16 ct_fw_400">Tom Jones by Henry Fielding</h5>
                                                <p><span class="ct_fw_500">$8.00 </span><span
                                                            class="ct_text_676767 ms-2"><del>$9.00</del></span></p>
                                          </div>
                                    </a>
                              </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 mb-4">
                              <div class="ct_new_product_card_12">
                                    <a routerLink="/book-overview">
                                          <div class="ct_new_product_img_34">
                                                <img src="assets/img/new_product_7.png" alt="">
                                          </div>
                                          <div class="text-center">
                                                <h5 class="mb-2 ct_fs_16 ct_fw_400">Tom Jones by Henry Fielding</h5>
                                                <p><span class="ct_fw_500">$8.00 </span><span
                                                            class="ct_text_676767 ms-2"><del>$9.00</del></span></p>
                                          </div>
                                    </a>
                              </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 mb-4">
                              <div class="ct_new_product_card_12">
                                    <a routerLink="/book-overview">
                                          <div class="ct_new_product_img_34">
                                                <img src="assets/img/new_product_7.png" alt="">
                                          </div>
                                          <div class="text-center">
                                                <h5 class="mb-2 ct_fs_16 ct_fw_400">Tom Jones by Henry Fielding</h5>
                                                <p><span class="ct_fw_500">$8.00 </span><span
                                                            class="ct_text_676767 ms-2"><del>$9.00</del></span></p>
                                          </div>
                                    </a>
                              </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 mb-4">
                              <div class="ct_new_product_card_12">
                                    <a routerLink="/book-overview">
                                          <div class="ct_new_product_img_34">
                                                <img src="assets/img/new_product_7.png" alt="">
                                          </div>
                                          <div class="text-center">
                                                <h5 class="mb-2 ct_fs_16 ct_fw_400">Tom Jones by Henry Fielding</h5>
                                                <p><span class="ct_fw_500">$8.00 </span><span
                                                            class="ct_text_676767 ms-2"><del>$9.00</del></span></p>
                                          </div>
                                    </a>
                              </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 mb-4">
                              <div class="ct_new_product_card_12">
                                    <a routerLink="/book-overview">
                                          <div class="ct_new_product_img_34">
                                                <img src="assets/img/new_product_7.png" alt="">
                                          </div>
                                          <div class="text-center">
                                                <h5 class="mb-2 ct_fs_16 ct_fw_400">Tom Jones by Henry Fielding</h5>
                                                <p><span class="ct_fw_500">$8.00 </span><span
                                                            class="ct_text_676767 ms-2"><del>$9.00</del></span></p>
                                          </div>
                                    </a>
                              </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 mb-4">
                              <div class="ct_new_product_card_12">
                                    <a routerLink="/book-overview">
                                          <div class="ct_new_product_img_34">
                                                <img src="assets/img/new_product_7.png" alt="">
                                          </div>
                                          <div class="text-center">
                                                <h5 class="mb-2 ct_fs_16 ct_fw_400">Tom Jones by Henry Fielding</h5>
                                                <p><span class="ct_fw_500">$8.00 </span><span
                                                            class="ct_text_676767 ms-2"><del>$9.00</del></span></p>
                                          </div>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>