.ct_new_product_card_12 h5 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      width: 180px;
      display: block;

}

.ct_new_product_card_12 h5:hover {
      color: var(--purple_light);
}

.ct_new_product_card_12 a:hover {
      color: #000;
}

p.ct_cursor_pointer:hover {
      color: var(--purple_light);
}