.ct_cursor_pointer:hover {
  color: red;
}

.noWrap {
  white-space: nowrap;
}

.ClearNotification:hover {
  cursor: pointer;
  color: red;
}

.ClearNotification {
  text-align: center;
}

.ct_use_name_short_elipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  width: 100px;
}
