<section class="ct_mt_40 ct_px_40 ct_pb_100 ct_mb_40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_24 ct_fw_600 mb-4">Followed Authors</h4>
            </div>
        </div>
        <div class="row">
            @if(authors.length > 0){
            @for (item of authors; track $index) {
            <div class="col-lg-4 mb-4 col-md-6">
                <div class="ct_followed_card_12">
                    <span class="ct_cursor_pointer" (click)="unfollowAuthor(item.followingId)">Unfollow</span>
                    <h4 routerLink="/author-detail" [queryParams]="{author: item.followingId}"
                        class="ct_fs_28 ct_fw_600 mb-1 text-capitalize">{{item.following.fullName}}</h4>
                    <p class="mb-1 ">{{item.following.email}}</p>
                    <div class="ct_followed_user_img">
                        <img [src]="item.following.avatar_url ? item.following.avatar_url : 'assets/img/profile_logo.jpg'"
                            alt="" class="ct_img_w_160">
                    </div>
                    <p class="mb-0 mt-3">{{item.following.tagline}}</p>
                </div>
            </div>
            }
            }@else {
            <h4 class="text-center">No followed authors</h4>
            }
        </div>
    </div>
</section>
<app-loader *ngIf="loading"></app-loader>