<section class="ct_mt_40 ct_px_40 ct_pb_100 ct_mb_40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_24 ct_fw_600 mb-4">Followed Authors</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4 col-md-6">
                <div class="ct_followed_card_12">
                    <span>Unfollow</span>
                    <h4 class="ct_fs_28 ct_fw_600 mb-3">J.K. Rowling</h4>
                    <div class="ct_followed_user_img">
                        <img src="assets/img/user2.jpg" alt="" class="ct_img_w_160">
                    </div>
                    <p class="mb-0 mt-3">JK Rowling is a British author and philanthropist. She is the author of
                        Harry
                        Potter, a
                        seven-volume fantasy novel series published from 1997 to 2007.</p>

                </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6">
                <div class="ct_followed_card_12">
                    <span>Unfollow</span>
                    <h4 class="ct_fs_28 ct_fw_600 mb-3">J.K. Rowling</h4>
                    <div class="ct_followed_user_img">
                        <img src="assets/img/user2.jpg" alt="" class="ct_img_w_160">
                    </div>
                    <p class="mb-0 mt-3">JK Rowling is a British author and philanthropist. She is the author of
                        Harry
                        Potter, a
                        seven-volume fantasy novel series published from 1997 to 2007.</p>

                </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6">
                <div class="ct_followed_card_12">
                    <span>Unfollow</span>
                    <h4 class="ct_fs_28 ct_fw_600 mb-3">J.K. Rowling</h4>
                    <div class="ct_followed_user_img">
                        <img src="assets/img/user2.jpg" alt="" class="ct_img_w_160">
                    </div>
                    <p class="mb-0 mt-3">JK Rowling is a British author and philanthropist. She is the author of
                        Harry
                        Potter, a
                        seven-volume fantasy novel series published from 1997 to 2007.</p>

                </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6">
                <div class="ct_followed_card_12">
                    <span>Unfollow</span>
                    <h4 class="ct_fs_28 ct_fw_600 mb-3">J.K. Rowling</h4>
                    <div class="ct_followed_user_img">
                        <img src="assets/img/user2.jpg" alt="" class="ct_img_w_160">
                    </div>
                    <p class="mb-0 mt-3">JK Rowling is a British author and philanthropist. She is the author of
                        Harry
                        Potter, a
                        seven-volume fantasy novel series published from 1997 to 2007.</p>

                </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6">
                <div class="ct_followed_card_12">
                    <span>Unfollow</span>
                    <h4 class="ct_fs_28 ct_fw_600 mb-3">J.K. Rowling</h4>
                    <div class="ct_followed_user_img">
                        <img src="assets/img/user2.jpg" alt="" class="ct_img_w_160">
                    </div>
                    <p class="mb-0 mt-3">JK Rowling is a British author and philanthropist. She is the author of
                        Harry
                        Potter, a
                        seven-volume fantasy novel series published from 1997 to 2007.</p>

                </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6">
                <div class="ct_followed_card_12">
                    <span>Unfollow</span>
                    <h4 class="ct_fs_28 ct_fw_600 mb-3">J.K. Rowling</h4>
                    <div class="ct_followed_user_img">
                        <img src="assets/img/user2.jpg" alt="" class="ct_img_w_160">
                    </div>
                    <p class="mb-0 mt-3">JK Rowling is a British author and philanthropist. She is the author of
                        Harry
                        Potter, a
                        seven-volume fantasy novel series published from 1997 to 2007.</p>

                </div>
            </div>

        </div>



    </div>
</section>