.preview {
  /* height: 100px; */
  /* width: 100px; */
  position: relative;
}

.preview .remove {
  position: absolute;
  top: -5px;
  right: -5px;
  color: #ef1b30;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
}

.preview img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.preview-container {
  display: flex;
  /* height: 100px; */
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  /* padding-left: 100PX;
      padding-right: 160px; */
}

.ct_cursor_pointer:hover {
  color: #1511e9;
}

.activeChat {
  background: #afafeb;
}

.chat-list p {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 0;
  white-space: nowrap;
  width: 63px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-list h3 {
  white-space: nowrap;
  width: 63px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ct_notify-time {
  font-size: 10px;
  color: #898787;
  text-align: end;
}
.chat-area {
  height: calc(100vh - 191px);
  min-height: calc(100% - 27rem);
}
.preview-container {
  position: absolute;
  bottom: 0px;
}

.ct_chat_back_btn {
  color: #000;
  cursor: pointer;
  display: none;
}
