<header class="ct_login_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_logo text-center">
                    <img src="assets/img/logo.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</header>

<section class="ct_login_bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-7 col-xl-7 col-lg-8 col-md- mx-auto">
                <div class="ct_login_white_bg ct_mt_60 ct_mb_60">
                    <div class="ct_back_btn">
                        <a (click)="logout()">
                            <i class="fa-solid fa-arrow-left-long me-2"></i> Back to Home
                        </a>
                    </div>
                    <div class="text-center mb-4">
                        <h4 class="ct_fs_28 ct_fw_600">Sign Up as Reader</h4>
                        <p class="mb-0 ct_fs_14">Already have an account?<a routerLink="/reader-login"
                                class="ct_forgot_pass_link"> Log In</a></p>
                    </div>

                    <!-- <div class="ct_btn_group ct_mt_32 justify-content-center ct_other_login_btn_group">
                        <a href="#" class="ct_purple_outline_btn ct_grey_outline_btn"><img src="assets/img/google.svg"
                                alt="">Continue with Google</a>
                        <a href="#" class="ct_purple_outline_btn ct_grey_outline_btn"><img src="assets/img/facebook.svg"
                                alt="">Continue with Facebook</a>
                    </div> -->

                    <!-- <div class="ct_decoration_line_text ct_mt_32">
                        <p class="mb-0 text-center"> Or continue with mail</p>
                    </div> -->

                    <form [formGroup]="signupForm">
                        <div class="ct_input-container">
                            <input placeholder="Full Name" class="ct_input-field" type="text"
                                formControlName="full_name">
                            <label for="ct_input-field" class="ct_input-label">Full Name</label>
                            <span class="ct_input-highlight"></span>
                        </div>
                        <div *ngIf="signupForm.controls['full_name'].invalid && signupForm.controls['full_name'].touched"
                            class="error-message">
                            <div *ngIf="signupForm.controls['full_name'].errors?.['required']" class="ct_fs_14">Full
                                name
                                is
                                required.</div>
                        </div>

                        <div class="ct_input-container">
                            <input placeholder="Email Address" class="ct_input-field" type="text"
                                formControlName="email">
                            <label for="ct_input-field" class="ct_input-label">Email Address</label>
                            <span class="ct_input-highlight"></span>
                        </div>
                        <div *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched"
                            class="error-message">
                            <div *ngIf="signupForm.controls['email'].errors?.['required']" class="ct_fs_14 mt-1">
                                Email is required.
                            </div>
                            <div *ngIf="signupForm.controls['email'].errors?.['email'] && !signupForm.controls['email'].errors?.['required']"
                                class="ct_fs_14 mt-1">
                                Invalid email format.</div>
                        </div>

                        <div class="ct_input-container position-relative">
                            <i class="fa-regular ct_eye_show" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"
                                (click)="togglePasswordVisibility()"></i>
                            <input placeholder="Password" class="ct_input-field"
                                type="{{ isPasswordVisible ? 'text' : 'password' }}" formControlName="password">

                            <label for="ct_input-field" class="ct_input-label">Password</label>
                            <span class="ct_input-highlight"></span>
                        </div>
                        <div *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched"
                            class="error-message">
                            <div *ngIf="signupForm.controls['password'].errors?.['required']" class="ct_fs_14 mt-1">
                                Password is
                                required.
                            </div>
                            <div
                                *ngIf="signupForm.controls['password'].errors?.['strongPassword'] && !signupForm.controls['password'].errors?.['required']">
                                <div *ngIf="
                                    !signupForm.controls['password'].errors?.['strongPassword'].isValidLength"
                                    class="ct_fs_14 mt-1">
                                    Password must be at least 8 characters long.
                                </div>
                                <div *ngIf="!signupForm.controls['password'].errors?.['strongPassword'].hasUpperCase &&
                                        signupForm.controls['password'].errors?.['strongPassword'].isValidLength"
                                    class="ct_fs_14 mt-1">
                                    Password must contain at least one uppercase letter.
                                </div>
                                <div *ngIf="!signupForm.controls['password'].errors?.['strongPassword'].hasLowerCase &&
                                        signupForm.controls['password'].errors?.['strongPassword'].hasUpperCase &&
                                        signupForm.controls['password'].errors?.['strongPassword'].isValidLength"
                                    class="ct_fs_14 mt-1">
                                    Password must contain at least one lowercase letter.
                                </div>
                                <div *ngIf="!signupForm.controls['password'].errors?.['strongPassword'].hasNumeric &&
                                        signupForm.controls['password'].errors?.['strongPassword'].hasLowerCase &&
                                        signupForm.controls['password'].errors?.['strongPassword'].hasUpperCase &&
                                        signupForm.controls['password'].errors?.['strongPassword'].isValidLength"
                                    class="ct_fs_14 mt-1">
                                    Password must contain at least one number.
                                </div>
                                <div *ngIf="!signupForm.controls['password'].errors?.['strongPassword'].hasSpecialCharacter &&
                                        signupForm.controls['password'].errors?.['strongPassword'].hasNumeric &&
                                        signupForm.controls['password'].errors?.['strongPassword'].hasLowerCase &&
                                        signupForm.controls['password'].errors?.['strongPassword'].hasUpperCase &&
                                        signupForm.controls['password'].errors?.['strongPassword'].isValidLength"
                                    class="ct_fs_14 mt-1">
                                    Password must contain at least one special character.
                                </div>
                            </div>
                        </div>
                        <!-- {{signupForm.controls['password'].errors | json}} -->


                        <!-- <div class="ct_input-container position-relative">

                            <i class="fa-regular ct_eye_show" [ngClass]="isPasswordVisible1 ? 'fa-eye' : 'fa-eye-slash'"
                                (click)="togglePasswordVisibility1()"></i>
                            <input placeholder="Confirm Password" class="ct_input-field"
                                type="{{ isPasswordVisible1 ? 'text' : 'password' }}">

                            <label for="ct_input-field" class="ct_input-label">Confirm Password</label>
                            <span class="ct_input-highlight"></span>
                        </div> -->


                        <div class="mt-4">
                            <div>
                                <label class="cl-checkbox">
                                    <input type="checkbox" formControlName="terms">
                                    <span>I agree to the Terms & Conditions</span>
                                </label>
                            </div>
                            <div class="mt-3">
                                <label class="cl-checkbox">
                                    <input type="checkbox">
                                    <span>Subscribe to Reader News & Updates</span>
                                </label>
                            </div>
                        </div>

                        <div class="mt-4">
                            <div *ngIf="signupForm.controls['terms'].invalid && signupForm.controls['terms'].touched"
                                class="error-message mb-2">
                                <div *ngIf="signupForm.controls['terms'].errors?.['required']" class="ct_fs_14">
                                    Please
                                    Check Terms & Conditions.</div>
                            </div>
                            <a (click)="login()" type="button" class="ct_purple_btn w-100">Create Account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer />


<!-- Loader S -->
<div class="ct_loader_main" *ngIf="loading">
    <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="119.667px"
        height="86.334px" viewBox="0 0 119.667 86.334" enable-background="new 0 0 119.667 86.334" xml:space="preserve">
        <metadata>
            <!-- <sfw xmlns="&ns_sfw;">
                    <slices></slices>
                    <sliceSourceBounds height="85.187" width="116.834" x="40.857" y="-141.993" bottomLeftOrigin="true">
                    </sliceSourceBounds>
                </sfw> -->
        </metadata>
        <switch>
            <foreignObject requiredExtensions="&ns_ai;" x="0" y="0" width="1" height="1">
                <!-- <i:pgfRef xlink:href="#adobe_illustrator_pgf">
                    </i:pgfRef> -->
            </foreignObject>
            <g>
                <g class="book1">
                    <rect x="1.524" y="15.529" fill="#687E62" width="20.826" height="69.456" />
                    <rect x="11.935" y="15.529" fill="#595F4F" width="10.415" height="69.456" />
                    <rect x="1.524" y="24.381" fill="#EFEFEF" width="20.826" height="3.616" />
                    <rect x="11.935" y="24.381" fill="#C8C8C8" width="10.415" height="3.616" />
                </g>
                <g class="book2">

                    <rect x="24.768" y="0.812" transform="matrix(-1 -0.0019 0.0019 -1 57.0249 86.852)" fill="#61303F"
                        width="7.574" height="85.173" />

                    <rect x="28.553" y="0.815" transform="matrix(-1 -0.0023 0.0023 -1 60.7928 86.8742)" fill="#3F1F35"
                        width="3.788" height="85.174" />

                    <rect x="26.661" y="25.058" transform="matrix(1 0.0018 -0.0018 1 0.0776 -0.0515)" fill="#EFEFEF"
                        width="3.786" height="35.817" />
                    <rect x="28.553" y="25.061" fill="#C8C8C8" width="1.894" height="35.816" />

                    <rect x="32.378" y="0.812" transform="matrix(-1 -0.0019 0.0019 -1 72.2456 86.8667)" fill="#61303F"
                        width="7.574" height="85.173" />

                    <rect x="36.163" y="0.815" transform="matrix(-1 -0.0023 0.0023 -1 76.0135 86.8919)" fill="#3F1F35"
                        width="3.788" height="85.174" />

                    <rect x="34.271" y="25.058" transform="matrix(1 0.0018 -0.0018 1 0.0776 -0.0652)" fill="#EFEFEF"
                        width="3.787" height="35.817" />
                    <rect x="36.166" y="25.061" fill="#C8C8C8" width="1.893" height="35.816" />
                </g>
                <g class="book3">
                    <rect x="42.585" y="2.828" fill="#ED1849" width="20.112" height="82.255" />
                    <rect x="42.586" y="35.427" fill="#E6AC47" width="20.112" height="25.406" />
                    <rect x="52.642" y="35.427" fill="#DE9030" width="10.056" height="25.406" />
                </g>
                <g class="book4">
                    <rect x="64.797" y="12.018" fill="#9CC34E" width="15.084" height="73.732" />
                    <rect x="72.34" y="12.018" fill="#528E4D" width="7.541" height="73.732" />
                </g>
                <g class="book5">
                    <polygon fill="#E6AC47" points="82.189,25.097 82.221,85.204 96.271,85.31 96.239,25.201 " />
                    <polygon fill="#DE9030" points="89.215,25.149 89.245,85.259 96.271,85.311 96.239,25.202 " />
                    <polygon fill="#61303F" points="96.263,71.827 82.214,71.722 82.216,74.852 96.266,74.956 " />
                    <polygon fill="#3F1F35" points="96.263,71.827 89.238,71.774 89.24,74.901 96.266,74.956 " />
                    <polygon fill="#61303F" points="96.264,75.693 82.216,75.589 82.216,76.895 96.266,77.001 " />
                    <polygon fill="#3F1F35" points="96.264,75.693 89.241,75.639 89.242,76.948 96.266,77.001 " />
                    <polygon fill="#61303F" points="96.243,35.557 82.195,35.451 82.197,38.58 96.247,38.686 " />
                    <polygon fill="#3F1F35" points="96.243,35.557 89.221,35.505 89.22,38.634 96.247,38.686 " />
                </g>
                <g class="book6">
                    <rect x="98.245" y="18.674" fill="#29CCC0" width="20.112" height="67.076" />
                    <rect x="98.246" y="31.89" fill="#130F10" width="20.112" height="2.681" />
                    <rect x="98.246" y="27.832" fill="#130F10" width="20.112" height="2.68" />
                </g>
            </g>
        </switch>
    </svg>
</div>
<!-- Loader E -->