<section class="ct_mt_40 ct_px_40 ct_pb_100 ct_mb_40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_24 ct_fw_600 mb-4">Purchased Books</h4>

                <div class="row">
                    <div class="col-lg-7 col-md-6 mb-3 mb-md-0">
                        <div class="form-group">
                            <!-- <label for="" class="ct_fs_14 mb-2">Search:</label> -->
                            <div class="position-relative">
                                <input type="text" name="" id="" placeholder="Search by book name" class="form-control ct_input_text ct_text_indent_30">
                                <i class="fa-solid fa-magnifying-glass ct_search_icon_left" ></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 mb-3 mb-md-0">
                        <!-- <div class="form-group">
                            <label for="" class="ct_fs_14 mb-2">Courses:</label>
                            <select class="form-control ct_input_text">
                                <option value="">All Books</option>
                                <option value="">All Books</option>
                                <option value="">All Books</option>
                            </select>
                        </div> -->
                    </div>
                    <div class="col-lg-2 col-md-3 mb-3 mb-md-0">
                        <div class="form-group">
                            <!-- <label for="" class="ct_fs_14 mb-2">Author:</label> -->
                            <select class="form-control ct_input_text">
                                <option value="">All Authors</option>
                                <option value="">All Authors</option>
                                <option value="">All Authors</option>
                            </select>
                        </div>
                    </div>


                </div>

                <div class="ct_purchase_history_parent_div mt-3">
                    <div class="ct_outline_box position-relative">
                      
                        <div class="ct_my_order_grid_96_auto">
                            <img src="assets/img/book_12.png" alt="">
                            <div class="ct_my_order_felx_34">
                                <div>
                                    <p class="mb-2 ct_fs_14 ct_fw_500 ct_text_636363 ">Order Id : #434567
                                    </p>
                                    <h4 class="ct_fs_20 ct_fw_600 mb-2">Digital Marketing Essentials</h4>
                                    <p class="mb-0 ct_fs_16 ct_text_636363">by Sarah Johnson</p>
                                    <ul class="mt-2 ct_sub_date_list">

                                        <li>
                                           

                                            <p class="mb-0 ct_fs_14 ct_fw_500 ct_text_636363">Ordered on Jan 25,
                                                2025 | 4:00pm
                                            </p>
                                        </li>
                                      

                                    </ul>

                                    <div class="ct_btn_group mt-3 ct_other_login_btn_group">
                                        <a routerLink="/pdf" class="ct_purple_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Read
                                            Book</a>
                                        <!-- <a href="javascript:void(0)"
                                            class="ct_purple_outline_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Download
                                            eBook</a> -->
                                    </div>
                                </div>
                                <!-- <div class="ct_heart_active">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.44 3.09998C14.63 3.09998 13.01 3.97998 12 5.32998C10.99 3.97998 9.37 3.09998 7.56 3.09998C4.49 3.09998 2 5.59998 2 8.68998C2 9.87998 2.19 10.98 2.52 12C4.1 17 8.97 19.99 11.38 20.81C11.72 20.93 12.28 20.93 12.62 20.81C15.03 19.99 19.9 17 21.48 12C21.81 10.98 22 9.87998 22 8.68998C22 5.59998 19.51 3.09998 16.44 3.09998Z"
                                            fill="#333" />
                                    </svg>

                                </div> -->
                                <div>
                                     <div class="ct_order_status mb-3" style="background-color: #DCFCE7; color: #166534;">
                                        <span>Purchased</span>
                                    </div>
                                    <p class="mb-2 d-flex align-items-center gap-1"> <span class="ct_fw_600 d-flex" style="width: 60px;"> Qty  </span><span>: </span> <span class="ct_fw_500"> 4</span></p>
                                    <p class="mb-0 d-flex align-items-center gap-1"> <span class="ct_fw_600 d-flex"  style="width: 60px;"> Total  </span><span>: </span>  <span class="ct_fw_500"> $30</span> </p>
                                </div>  
                            </div>
                        </div>

                    </div>
                    <div class="ct_outline_box">
                        <div class="ct_my_order_grid_96_auto">
                            <img src="assets/img/book_12.png" alt="">
                            <div class="ct_my_order_felx_34">
                                <div>
                                    <h4 class="ct_fs_20 ct_fw_600 mb-2">Digital Marketing Essentials</h4>
                                    <p class="mb-0 ct_fs_16 ct_text_636363">by Sarah Johnson</p>


                                    <div class="ct_btn_group mt-3 ct_other_login_btn_group">
                                        <a routerLink="/pdf" class="ct_purple_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Read
                                            Book</a>
                                        <!-- <a href="javascript:void(0)"
                                            class="ct_purple_outline_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Download
                                            eBook</a> -->
                                    </div>
                                </div>
                                <!-- <div class="ct_heart_active">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.44 3.09998C14.63 3.09998 13.01 3.97998 12 5.32998C10.99 3.97998 9.37 3.09998 7.56 3.09998C4.49 3.09998 2 5.59998 2 8.68998C2 9.87998 2.19 10.98 2.52 12C4.1 17 8.97 19.99 11.38 20.81C11.72 20.93 12.28 20.93 12.62 20.81C15.03 19.99 19.9 17 21.48 12C21.81 10.98 22 9.87998 22 8.68998C22 5.59998 19.51 3.09998 16.44 3.09998Z"
                                            fill="#333" />
                                    </svg>

                                </div> -->
                                <div>
                                    <div class="ct_order_status mb-3" style="background-color: #DCFCE7; color: #166534;">
                                        <span>Purchased</span>
                                    </div>
                                    <p class="mb-2 d-flex align-items-center gap-1"> <span class="ct_fw_600 d-flex" style="width: 60px;"> Qty  </span><span>: </span> <span class="ct_fw_500"> 4</span></p>
                                    <p class="mb-0 d-flex align-items-center gap-1"> <span class="ct_fw_600 d-flex"  style="width: 60px;"> Total  </span><span>: </span>  <span class="ct_fw_500"> $30</span> </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ct_outline_box">
                        <div class="ct_my_order_grid_96_auto">
                            <img src="assets/img/book_12.png" alt="">
                            <div class="ct_my_order_felx_34">
                                <div>
                                    <h4 class="ct_fs_20 ct_fw_600 mb-2">Digital Marketing Essentials</h4>
                                    <p class="mb-0 ct_fs_16 ct_text_636363">by Sarah Johnson</p>


                                    <div class="ct_btn_group mt-3 ct_other_login_btn_group">
                                        <a routerLink="/pdf" class="ct_purple_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Read
                                            Book</a>
                                        <!-- <a href="javascript:void(0)"
                                            class="ct_purple_outline_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">Download
                                            eBook</a> -->
                                    </div>
                                </div>
                               <div>
                                <div class="ct_order_status mb-3" style="background-color: #DCFCE7; color: #166534;">
                                    <span>Purchased</span>
                                </div>
                                   <p class="mb-2 d-flex align-items-center gap-1"> <span class="ct_fw_600 d-flex" style="width: 60px;"> Qty  </span><span>: </span> <span class="ct_fw_500"> 4</span></p>
                                   <p class="mb-0 d-flex align-items-center gap-1"> <span class="ct_fw_600 d-flex"  style="width: 60px;"> Total  </span><span>: </span>  <span class="ct_fw_500"> $30</span> </p>
                               </div>
                            </div>
                        </div>

                    </div>





                </div>


            </div>

        </div>



    </div>
</section>