<section class="ct_login_bg   ">
    <div class="container">
        <div class="row">
            <div class="col-xxl-7 col-xl-7 col-lg-8 col-md- mx-auto">
                <div class="ct_login_white_bg ct_mt_60 ct_mb_60">
                    <div class="ct_back_btn">
                        <a href="index.html">
                            <i class="fa-solid fa-arrow-left-long me-2"></i> Back to Home
                        </a>
                    </div>
                    <div class="text-center mb-4">
                        <h4 class="ct_fs_28 ct_fw_600">Change Password</h4>
                        <p class="mb-0 ct_fs_14">Enter the new password you want to set for your account</p>
                    </div>
                    <form [formGroup]="Form">
                        <div class="ct_input-container position-relative">
                            <i class="fa-regular ct_eye_show" [ngClass]="isShowOld ? 'fa-eye':'fa-eye-slash'"
                                (click)="isShowOld = !isShowOld"></i>
                            <input placeholder="Old Password" class="ct_input-field"
                                [type]="isShowOld ? 'text' : 'password'" formControlName="oldPassword">
                            <label for="ct_input-field" class="ct_input-label">Old Password</label>
                            <span class="ct_input-highlight"></span>
                        </div>
                        <div *ngIf="Form.controls['oldPassword'].invalid && Form.controls['oldPassword'].touched"
                            class="error-message">
                            <div *ngIf="Form.controls['oldPassword'].errors?.['required']" class="ct_fs_14 mt-1">
                                Old password is
                                required.
                            </div>
                        </div>
                        <div class="ct_input-container position-relative">
                            <i class="fa-regular ct_eye_show" [ngClass]="isShowNew ? 'fa-eye':'fa-eye-slash'"
                                (click)="isShowNew = !isShowNew"></i>
                            <input placeholder="New Password" class="ct_input-field"
                                [type]="isShowNew ? 'text' : 'password'" formControlName="newPassword">
                            <label for="ct_input-field" class="ct_input-label">New Password</label>
                            <span class="ct_input-highlight"></span>
                        </div>
                        <div *ngIf="Form.errors?.['sameAsCurrent'] && !Form.controls['newPassword'].errors?.['required']"
                            class="error-message">
                            New password cannot be the same as the current password.</div>
                        <div *ngIf="Form.controls['newPassword'].invalid && Form.controls['newPassword'].touched"
                            class="error-message">
                            <div *ngIf="Form.controls['newPassword'].errors?.['required']" class="ct_fs_14 mt-1">
                                New password is
                                required.
                            </div>
                            <div
                                *ngIf="Form.controls['newPassword'].errors?.['strongPassword'] && !Form.controls['newPassword'].errors?.['required']">
                                <div *ngIf="
                              !Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                    class="ct_fs_14 mt-1">
                                    New password must be at least 8 characters long.
                                </div>
                                <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                    class="ct_fs_14 mt-1">
                                    New password must contain at least one uppercase letter.
                                </div>
                                <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                    class="ct_fs_14 mt-1">
                                    New password must contain at least one lowercase letter.
                                </div>
                                <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                    class="ct_fs_14 mt-1">
                                    New password must contain at least one number.
                                </div>
                                <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasSpecialCharacter &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                  Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                    class="ct_fs_14 mt-1">
                                    New password must contain at least one special character.
                                </div>
                            </div>
                        </div>
                        <div class="ct_input-container position-relative">
                            <i class="fa-regular ct_eye_show" [ngClass]="isShowConfirm ? 'fa-eye':'fa-eye-slash'"
                                (click)="isShowConfirm = !isShowConfirm"></i>
                            <input placeholder="Confirm Password" class="ct_input-field"
                                [type]="isShowConfirm ? 'text' : 'password'" formControlName="confPassword">
                            <label for="ct_input-field" class="ct_input-label">Confirm Password</label>
                            <span class="ct_input-highlight"></span>
                        </div>
                        <div *ngIf="Form.controls['confPassword'].invalid && Form.controls['confPassword'].touched"
                            class="error-message">
                            <div *ngIf="Form.controls['confPassword'].errors?.['required']" class="ct_fs_14 mt-1">
                                Confirm password is
                                required.
                            </div>
                        </div>
                        <div *ngIf="Form.errors?.['passwordMismatch'] && Form.controls['confPassword'].touched  && !Form.controls['confPassword'].errors?.['required']"
                            class=" error-message">
                            <div class="ct_fs_14 mt-1">
                                Passwords do not match.
                            </div>
                        </div>
                        <div class="mt-5">
                            <button (click)="onSubmit()" type="button" class="ct_purple_btn w-100">Change</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</section>