<!-- Hero Section S -->
<section class="ct_px_40 py-4">
      <div class="container-fluid">
            <div class="row align-items-center">
                  <div class="col-xxl-4 col-xl-5 col-lg-5 mb-4 mb-lg-0">
                        <div class="ct_hero_title">
                              <h2 class="ct_fs_28 ct_fw_600 ct_mb_12">A New Era of Reading</h2>
                              <p class="mb-0 ct_fs_20 ct_fw_400 ct_text_636363">Join thousands of authors and readers on
                                    the
                                    next-gen eBook
                                    platform.</p>
                              <div class="ct_btn_group ct_mt_32">
                                    <a routerLink="/explore-books" class="ct_purple_btn">Explore Books</a>
                                    <a routerLink="/author-login" class="ct_purple_outline_btn">Start Publishing</a>
                              </div>
                        </div>
                  </div>
                  <div class="col-xxl-8 col-xl-7 col-lg-7 mb-4 mb-lg-0">
                        <div class="ct_right_hero_slider">
                              <div class="swiper-container mySwiper">
                                    <!-- <div class="swiper-wrapper ct_infinite_wrapper">
                                          <div class="swiper-slide" *ngFor="let item of allBooks; let i = index">
                                                <div class="ct_book_card">
                                                      <figure>
                                                            <div class="ct_book_img">
                                                                  <img src="assets/img/book_1.png" alt="">
                                                            </div>
                                                            <figcaption class="text-center">
                                                                  <span class="ct_fs_14 ct_ff_Montserrat">{{item.title}}</span>
                                                                  <h4 class="ct_fs_16 mb-0 ct_ff_Montserrat mt-2 ">{{item.author.fullName}}</h4>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                              
                                    </div> -->

                                    <div class="swiper-wrapper ct_infinite_wrapper">
                                          @for (item of allBooks; track $index) {
                                          <div class="swiper-slide">
                                                <div class="ct_book_card" routerLink="/book-overview"
                                                      [queryParams]="{id: item.id}">
                                                      <figure>
                                                            <div class="ct_book_img">
                                                                  <img [src]="item.coverImage" alt="">
                                                            </div>
                                                            <figcaption class="text-center">
                                                                  <span
                                                                        class="ct_fs_14 ct_ff_Montserrat text-capitalize">{{item.title}}</span>
                                                                  <h4
                                                                        class="ct_fs_16 mb-0 ct_ff_Montserrat mt-2 text-capitalize">
                                                                        {{item.author?.fullName}}
                                                                  </h4>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          }
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- Hero Section E -->

<!-- Where stories section S -->
<section class="ct_px_40 ct_pt_60 ct_stories_bg ct_pb_218">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="text-center">
                              <h2 class="ct_fs_28 ct_fw_400 ct_ff_Montserrat mb-2 text-white">Where Stories Meet Readers
                                    &
                                    Authors
                                    Thrive.</h2>
                              <p class=" mb-0 ct_text_9c9c9c">E Book Ink is your gateway to a world of books, where
                                    readers
                                    can
                                    discover, connect, and
                                    enjoy immersive <br> reading experiences. Authors and publishers can showcase their
                                    work,
                                    engage
                                    with their audience, and build <br> their literary brand—all in one place.</p>
                        </div>
                  </div>
            </div>
            <div class="row ct_mt_40 ct_justify_center_res">
                  <div class="ct_col_2">
                        <div class="ct_story_card">
                              <h4 class="ct_fs_18"><span>📢</span> Connect with Authors</h4>
                              <p class="mb-0">Follow your favorite writers and get updates on new releases.</p>
                        </div>
                  </div>
                  <div class="ct_col_2">
                        <div class="ct_story_card">
                              <h4 class="ct_fs_18"><span>📚</span> In-App Reading & Downloads </h4>
                              <p class="mb-0">Enjoy seamless reading with an intuitive eReader, night m...</p>
                        </div>
                  </div>
                  <div class="ct_col_2">
                        <div class="ct_story_card">
                              <h4 class="ct_fs_18"><span>💬</span> Join Interactive Chatrooms</h4>
                              <p class="mb-0"> Engage in real-time discussions, book clubs, and live Q&A s...</p>
                        </div>
                  </div>
                  <div class="ct_col_2">
                        <div class="ct_story_card">
                              <h4 class="ct_fs_18"><span>🎭</span> Personalized Recommendations</h4>
                              <p class="mb-0">Get book suggestions based on your reading habits an...</p>
                        </div>
                  </div>
                  <div class="ct_col_2">
                        <div class="ct_story_card">
                              <h4 class="ct_fs_18"><span>🛠️</span> Author & Publisher Tools</h4>
                              <p class="mb-0">Upload, categorize, and promote your books with anal...</p>
                        </div>
                  </div>

            </div>
      </div>
</section>
<!-- Where stories section E -->

<!-- Author Section S -->
<section class="ct_px_40 ct_mt_32">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        @if(topAuthors.length > 0) {
                        <div class="d-flex align-items-center justify-content-between">
                              <h4 class="ct_fs_24 mb-0 ct_ff_Montserrat ct_fw_400">Top Authors</h4>
                              <a routerLink="/authors-and-publishers" class="ct_purple_link">View All</a>
                        </div>
                        }
                        <!-- <div class="owl-carousel owl-theme ct_top_author_slider mt-3">
                              <div class="item" *ngFor="let item of topAuthors; let i = index">
                                    <a routerLink="/authors-and-publishers" class="ct_author_card text-dark">
                                          <div class="ct_author_img">
                                                <img src="assets/img/author_img_1.png" alt="">
                                          </div>
                                          <div class="ct_author_info">
                                                <h4 class="ct_fs_20 ct_fw_400 ct_ff_Montserrat">{{item.fullName}}</h4>
                                             
                                                <p class="ct_text_676767 mb-0 ct_fs_14">{{item.tagline}}
                                                </p>
                                                <ul>
                                                      <li>
                                                            <p class="mb-0 ct_fs_14">Followers</p>
                                                            <h6 class="ct_fs_18 mb-0">{{item.followersCount}}</h6>
                                                      </li>
                                                      <li>
                                                            <span></span>
                                                      </li>
                                                      <li>
                                                            <p class="mb-0 ct_fs_14">Books Published</p>
                                                            <h6 class="ct_fs_18 mb-0">{{item.publishedCount}}</h6>
                                                      </li>
                                                </ul>
                                          </div>
                                    </a>
                              </div>
                          
                        </div> -->

                        <div class="owl-carousel owl-theme ct_top_author_slider mt-3">
                              @for (item of topAuthors; track $index) {
                              <div class="item" routerLink="/author-detail" [queryParams]="{author: item.id}">
                                    <a class="ct_author_card text-dark">
                                          <div class="ct_author_img">
                                                <img [src]="item.avatar_url ? item.avatar_url : 'assets/img/profile_logo.jpg'"
                                                      alt="">
                                          </div>
                                          <div class="ct_author_info">
                                                <h4 class="ct_fs_20 ct_fw_400 ct_ff_Montserrat text-capitalize">
                                                      {{item.fullName}}
                                                </h4>
                                                <p class="ct_text_676767 mb-0 ct_fs_14">{{item.tagline}}.
                                                </p>
                                                <ul>
                                                      <li>
                                                            <p class="mb-0 ct_fs_14">Followers</p>
                                                            <h6 class="ct_fs_18 mb-0">{{item.followersCount}}</h6>
                                                      </li>
                                                      <li>
                                                            <span></span>
                                                      </li>
                                                      <li>
                                                            <p class="mb-0 ct_fs_14">Books Published</p>
                                                            <h6 class="ct_fs_18 mb-0">{{item.publishedCount}}</h6>
                                                      </li>
                                                </ul>
                                          </div>
                                    </a>
                              </div>
                              }
                        </div>
                  </div>
            </div>
      </div>
</section>

<!-- Author Section E -->

<!-- Top Selling Book Section S -->

<section class="ct_px_40 ct_mt_32">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        @if(allBooks.length > 0) {
                        <div class="d-flex align-items-center justify-content-between">
                              <h4 class="ct_fs_24 mb-0 ct_ff_Montserrat ct_fw_400">Top Selling Books</h4>
                              <a class="ct_purple_link" routerLink="/explore-books">View All</a>
                        </div>
                        }
                        <div class="owl-carousel owl-theme ct_top_selling_book_slider mt-3" data-aos="fade-down"
                              data-aos-duration="1000">
                              @for (item of allBooks; track $index) {
                              <div class="item ct_cursor_pointer" routerLink="/book-overview"
                                    [queryParams]="{id: item.id}">
                                    <div class="ct_book_card ct_sell_book_card_bg">
                                          <figure>
                                                <div class="ct_book_img">
                                                      <img [src]="item.coverImage" alt="">
                                                </div>
                                                <figcaption>
                                                      <a
                                                            class="ct_fs_14 ct_ff_Montserrat text-capitalize">{{item.title}}</a>
                                                      <h4
                                                            class="ct_fs_16 mb-0 ct_ff_Montserrat  ct_text_898989 ct_fw_400 text-capitalize">
                                                            {{item.author?.fullName}}
                                                      </h4>
                                                      <div class="d-flex align-items-center gap-3 mt-4">
                                                            <p class="mb-0 ct_fs_18">{{item.price | currency:'USD'}}</p>
                                                            <p class="mb-0 ct_fs_16 ct_text_898989">
                                                                  <del>{{item.costPrice | currency:'USD' }}</del>
                                                            </p>
                                                      </div>
                                                </figcaption>
                                          </figure>
                                    </div>
                              </div>
                              }
                        </div>
                  </div>
            </div>
      </div>
</section>

<!-- Top Selling Book Section E -->



<section class="ct_mt_40 ct_px_40 ct_pb_80">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <!-- <h2 class="ct_fs_24 text-center mb-4 ct_fw_400">Categories</h2> -->
                        @if(categories.length > 0) {
                        <div class="d-flex align-items-center justify-content-between">
                              <h4 class="ct_fs_24 mb-0 ct_ff_Montserrat ct_fw_400 mb-3">Categories</h4>
                              <a href="#" class="ct_purple_link"></a>
                        </div>
                        }
                  </div>
            </div>
            <div class="row">
                  <div class="owl-carousel owl-theme ct_top_categories_slider mt-3" data-aos="fade-down"
                        data-aos-duration="1000">
                        @for (item of categories; track $index) {
                        <div class="item">
                              <div class="ct_category_card"
                                    [style.background-image]="'url(' + item.books[0].book.coverImage + ')'">
                                    <div class="ct_category_cnt">
                                          <h4 class="ct_fs_20 ct_fw_400 ">{{item.name}}
                                          </h4>
                                          <div class="mt-3">
                                                <a routerLink="/explore-books" [queryParams]="{category: item.id}"
                                                      class="ct_purple_btn">Shop Now</a>
                                          </div>
                                    </div>
                                    <div class="ct_category_img">
                                          <img [src]="item.books[0].book.coverImage" alt="">
                                    </div>
                              </div>
                        </div>
                        }
                  </div>
            </div>
      </div>
</section>

<app-loader *ngIf="loading"></app-loader>