<div class="ct_px_30 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mb-4">
                    <h4 class="ct_fs_26 ct_fw_700 mb-0 ct_nunito_font">Storefront Customization</h4>
                </div>

                <div class="ct_white_bg h-auto">
                    <!-- <div class="position-relative">

                        <div class="ct_autohre_banner_img">
                            <img src="../assets/img/author_detail-bg.png" alt="">
                            <label for="ct_authore_banner" class="position-relative d-block">
                                <input type="file" class="d-none" id="ct_authore_banner">
                                <div class="ct_authore_banner_upload_icon_12">
                                    <i class="fa-solid fa-pencil"></i>
                                </div>

                            </label>

                        </div>
                    </div> -->

                    <div class="row ct_mt_60">
                        <div class="col-xl-3 mb-4">
                            <div class="ct_upload_user_profile_img">
                                <img src="assets/img/user_5.png" alt="">
                                <label for="ct_upload_user_profile2" class="position-relative d-block">
                                    <input type="file" class="d-none" id="ct_upload_user_profile2">
                                    <div class="ct_authore_banner_upload_icon_12">
                                        <i class="fa-solid fa-pencil"></i>
                                    </div>

                                </label>

                            </div>

                        </div>
                        <div class="col-xl-9 mb-4">
                            <form action="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for=""
                                                class="ct_fw_500 ct_nunito_font mb-2 d-block">Author
                                                Name</label>
                                            <input type="text" class="form-control ct_input_text"
                                                placeholder="Author Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for=""
                                                class="ct_fw_500 ct_nunito_font mb-2 d-block">Email</label>
                                            <input type="text" class="form-control ct_input_text"
                                                placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-4">
                                            <p class="mb-2 ct_fw_500 ct_nunito_font">My Followers</p>
                                            <div class="form-control ct_input_text text-center h-auto py-3">
                                                <h4 class="ct_fs_24 ct_fw_600 mb-1">258.6k</h4>
                                                <p class="ct_text_clr_8a8a8a mb-0 ct_fs_14">Followers on the
                                                    Profile
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-4">
                                            <p class="mb-2 ct_fw_500 ct_nunito_font">Total Books</p>
                                            <div class="form-control ct_input_text text-center h-auto py-3">
                                                <h4 class="ct_fs_24 ct_fw_600 mb-1">179</h4>
                                                <p class="ct_text_clr_8a8a8a mb-0 ct_fs_14">Published on my
                                                    Profile
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for=""
                                                class="ct_fw_500 ct_nunito_font mb-2 d-block">Tagline</label>
                                            <!-- <select class="form-control ct_input_text">
                                                <option value="">Select Genres</option>
                                                <option value="">Select Genres</option>
                                                <option value="">Select Genres</option>
                                            </select> -->
                                            <input type="text" class="form-control ct_input_text"
                                                placeholder="Tagline">
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between gap-3 mb-4">
                                        <h4 class="ct_fs_20 ct_fw_600 mb-0">Genre</h4>
                                        <button class="ct_purple_btn mb-3">Add Genre</button>
                                    </div>

                                    <div class="col-md-12 mb-4">
                                        <div class="d-flex align-items-center gap-3 flex-wrap">
                                            <span class="ct_tag active"><i
                                                    class="fa-solid fa-check"></i>Fantasy</span>
                                            <span class="ct_tag"><i class="fa-solid fa-check"></i>Science
                                                Fiction</span>
                                            <span class="ct_tag "><i class="fa-solid fa-check"></i>Mystery
                                            </span>
                                            <span class="ct_tag"><i
                                                    class="fa-solid fa-check"></i>Thriller</span>
                                            <span class="ct_tag"><i
                                                    class="fa-solid fa-check"></i>Horror</span>
                                            <span class="ct_tag"><i
                                                    class="fa-solid fa-check"></i>Romance</span>
                                            <span class="ct_tag"><i class="fa-solid fa-check"></i>Historical
                                                Fiction</span>
                                            <span class="ct_tag"><i
                                                    class="fa-solid fa-check"></i>Adventure</span>
                                            <span class="ct_tag"><i
                                                    class="fa-solid fa-check"></i>Dystopian</span>
                                            <span class="ct_tag"><i
                                                    class="fa-solid fa-check"></i>Post-Apocalyptic</span>
                                            <span class="ct_tag"><i
                                                    class="fa-solid fa-check"></i>Contemporary
                                                Fiction</span>
                                            <span class="ct_tag"><i class="fa-solid fa-check"></i>Young
                                                Adult (YA)</span>
                                        </div>

                                    </div>
                                    <!-- <div class="col-md-12">
                                        <p class="ct_fs_16 ct_fw_500 mb-3">Add Social Media</p>
                                        <div class="d-flex align-items-center gap-3">
                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M23.8321 0.215027H23.7239C10.6215 0.215027 0 10.8397 0 23.9459V24.0542C0 37.1604 10.6215 47.785 23.7239 47.785H23.8321C36.9345 47.785 47.556 37.1604 47.556 24.0542V23.9459C47.556 10.8397 36.9345 0.215027 23.8321 0.215027Z"
                                                    fill="url(#paint0_linear_1_18314)" />
                                                <path
                                                    d="M31.1356 9.89233H16.4204C12.3551 9.89233 9.04785 13.2006 9.04785 17.2671V30.7333C9.04785 34.7998 12.3551 38.108 16.4204 38.108H31.1356C35.2009 38.108 38.5081 34.7998 38.5081 30.7333V17.2671C38.5081 13.2006 35.2009 9.89233 31.1356 9.89233ZM11.6487 17.2671C11.6487 14.6355 13.7896 12.4939 16.4204 12.4939H31.1356C33.7664 12.4939 35.9073 14.6355 35.9073 17.2671V30.7333C35.9073 33.3648 33.7664 35.5064 31.1356 35.5064H16.4204C13.7896 35.5064 11.6487 33.3648 11.6487 30.7333V17.2671Z"
                                                    fill="white" />
                                                <path
                                                    d="M23.7796 30.8565C27.56 30.8565 30.6374 27.7799 30.6374 23.9967C30.6374 20.2135 27.5617 17.137 23.7796 17.137C19.9975 17.137 16.9219 20.2135 16.9219 23.9967C16.9219 27.7799 19.9975 30.8565 23.7796 30.8565ZM23.7796 19.7402C26.1272 19.7402 28.0366 21.6501 28.0366 23.9984C28.0366 26.3466 26.1272 28.2566 23.7796 28.2566C21.4321 28.2566 19.5227 26.3466 19.5227 23.9984C19.5227 21.6501 21.4321 19.7402 23.7796 19.7402Z"
                                                    fill="white" />
                                                <path
                                                    d="M31.2686 18.2457C32.2866 18.2457 33.1163 17.4174 33.1163 16.3974C33.1163 15.3774 32.2883 14.5491 31.2686 14.5491C30.249 14.5491 29.4209 15.3774 29.4209 16.3974C29.4209 17.4174 30.249 18.2457 31.2686 18.2457Z"
                                                    fill="white" />
                                                <defs>
                                                    <linearGradient id="paint0_linear_1_18314" x1="6.94771"
                                                        y1="40.8353" x2="40.6182" y2="7.17636"
                                                        gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#FAAD4F" />
                                                        <stop offset="0.35" stop-color="#DD2A7B" />
                                                        <stop offset="0.62" stop-color="#9537B0" />
                                                        <stop offset="1" stop-color="#515BD4" />
                                                    </linearGradient>
                                                </defs>
                                            </svg>
                                            <input type="text" class="form-control ct_input_text"
                                                placeholder="Enter Url">
                                        </div>
                                        <div class="d-flex align-items-center gap-3 mt-3">
                                            <svg width="47" height="48" viewBox="0 0 47 48" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M46.9862 24.0008C46.9862 35.8698 38.1908 45.6821 26.7648 47.2744C25.6965 47.4226 24.6034 47.5 23.4939 47.5C22.2132 47.5 20.9555 47.3979 19.7308 47.2003C8.54354 45.3989 0 35.6969 0 24.0008C0 11.022 10.5189 0.5 23.4923 0.5C36.4656 0.5 46.9862 11.022 46.9862 24.0008Z"
                                                    fill="#1877F2" />
                                                <path
                                                    d="M26.7645 19.3687V24.4881H33.0956L32.0931 31.3843H26.7645V47.2727C25.6962 47.4209 24.6031 47.4983 23.4936 47.4983C22.2129 47.4983 20.9552 47.3962 19.7305 47.1986V31.3843H13.8916V24.4881H19.7305V18.2243C19.7305 14.3382 22.8796 11.1866 26.7662 11.1866V11.1899C26.7777 11.1899 26.7876 11.1866 26.7991 11.1866H33.0973V17.1507H28.9819C27.7588 17.1507 26.7662 18.1436 26.7662 19.3671L26.7645 19.3687Z"
                                                    fill="white" />
                                            </svg>

                                            <input type="text" class="form-control ct_input_text"
                                                placeholder="Enter Url">
                                        </div>
                                    </div> -->

                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>



    </div>

</div>

<div class="modal fade" id="ct_logout_modal_post" tabindex="-1" aria-labelledby="ct_delete_postLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header py-0 border-0">
            <button type="button" class="btn-close ct_close" data-bs-dismiss="modal" aria-label="Close"><i
                    class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="modal-body">
            <div class="ct_delete_post_modal">
                <figure>
                    <div class="ct_delete_post_icon">
                        <i class="fa-solid fa-power-off"></i>
                    </div>
                    <figcaption class="mt-4">
                        <h4 class="ct_fs_18 ct_fw_600">Log Out</h4>
                        <p class="mb-0">Are you sure you want to logout? once you logout you need to login
                            again.</p>
                    </figcaption>
                </figure>
                <div class="modal-footer justify-content-center border-0 ct_modal_footer">
                    <button type="button" class="ct_purple_btn ct_outline_blue w-100 ct_fw_600"
                        data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="ct_purple_btn ct_btn_red w-100 ct_fw_600">Log Out</button>
                </div>
            </div>
        </div>

    </div>
</div>
</div>